﻿<div class="cpw-ama-pfa-expense pfa-styled">
	<div class="pop-up">
		<div class="pop-up-container">
			<div class="input-container">
				<div class="pfa-styled title">
					<span>Сумма расходов в месяц:</span>
				</div>
				<div class="input-row">
					<div class="inp input size1of2">
						<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Сумма')%>"
						data-inputmask="
								'alias': 'currency'"
						></input>
						<span class="input-label">Сумма</span>
					</div>
					<div class="inp input size1of2">
						<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Назначение')%> /"></input>
						<span class="input-label">Назначение</span>
					</div>
				</div>
			</div>
			<div class="pop-up-bg"></div>	
		</div>
	</div>
</div>