﻿<style>
div.cpw-ama-pfa-properties
{
	display:inline;
}
div.cpw-ama-pfa-properties div.col
{
	flex: 1 1 0px;
}
div.cpw-ama-pfa-properties div.buttons {
	display: inline-block;
}

@media (min-width: 850px) {
    div.cpw-ama-pfa-properties div.buttons {
		display: flex;
	}
}
div.cpw-ama-pfa-properties
{
	max-width: 1280px;
	margin: 0px auto;
	display: flex;
	flex-direction: column;
}
div.col-wrapper {
	display: flex;
	flex-direction: column;
}
@media (min-width: 769px) {
	#pfa-property-add-form, #pfa-property-edit-form {
		height: auto !important;
		min-height: 586px !important;
	}
}
</style>
<% var readonly= obj && obj.options && obj.options.readonly; 
var money= function(n)
{
	if (!n || null==n)
	{
		return '-';
	}
	else
	{
		return obj.options.h_number_format(n, 0, ' ,', ' ');
	}
};

var payments= function(m){
	if (m){
		if (m.Недвижимость){
			return money(m.Недвижимость.Расходы);
		}
		else if (m.Ценности){
			return money(m.Ценности.Расходы);
		}
		else if (m.Транспорт){
			return money(m.Транспорт.Расходы);
		}
		else{
			return '-';
		};
	};
};

var description= function(m){
	if (m){
		{
			if (m.Денежные_средства){
				return m.Денежные_средства.Краткое_описание;
			}
			else if (m.Недвижимость){
				return m.Недвижимость.Краткое_описание;
			}
			else if (m.Ценности){
				return m.Ценности.Краткое_описание;
			}
			else if (m.Транспорт){
				return m.Транспорт.Краткое_описание;
			}
			else if (m.Акции_и_участие_в_коммерческих_организациях){
				return m.Акции_и_участие_в_коммерческих_организациях.Краткое_описание;
			}
			else if (m.Ценные_бумаги){
				return m.Ценные_бумаги.Краткое_описание;
			}
			else if (m.Долги_третьих_лиц){
				return m.Долги_третьих_лиц.Краткое_описание;
			}
			else{
				return '-';
			}
		}
	}
};

var properties_variants= 
{
	column1:
	[
		{txt:'долги третьих лиц перед должником', type:'Задолженность_третьих_лиц_перед_должником'}
		,{txt:'наличные денежные средства', type:'Денежные_средства'}
		,{txt:'транспортное средство', type:'Транспортное_средство'}
		,{txt:'сельскохозяйственную технику', type:'Сельскохозяйственная_техника'}
	]
	,column2:
	[
		{txt:'недвижимость', type:'Недвижимость'}
		,{txt:'ценные бумаги', type:'Ценные_бумаги'}
		,{txt:'иное ценное имущество', type:'Иное_ценное_имущество'}
		,{txt:'участие в коммерческих организациях', type:'Иное_участие_в_коммерческих_организациях'}
	]
};
%>
<div class="cpw-ama-pfa-properties pfa-styled">

	<div <%= obj.empty_attrs() %> >
		<% if (!readonly) { %>
		<% if (0) { %>Фрагмент для пустой коллекции<% } %>
		<a href="#null" class="add" data-show-if-mode="details">
			<button class="plus-button button--small"><% if (0) { %>указать имущество<% } %></button>
			<text>Указать имущество</text>
		</a>
		<div class="buttons" data-show-if-mode="master">
			<div class="col">
				<%	for (var i= 0; i < properties_variants.column1.length; i++) 
					{
						var spec= properties_variants.column1[i];
				%>
				<div class="row-add">
					<a href="#null" class="add" data-property-type="<%= spec.type %>">
						<button class="plus-button button--small"><% if (0) { %>указать легковой автомобиль<% } %></button>
						<div class="in-add-black-text creditor"><span class="first-add-word">Указать </span><span><%= spec.txt %><% if (0) { %>указать легковой автомобиль<% } %></span></div>
					</a>
				</div>
				<%	} %>
			</div>
		
			<div class="col">
				<%	for (var i= 0; i < properties_variants.column2.length; i++) 
					{
						var spec= properties_variants.column2[i];
				%>
				<div class="row-add">
					<a href="#null" class="add" data-property-type="<%= spec.type %>">
						<button class="plus-button button--small"><% if (0) { %>указать гараж<% } %></button>
						<div class="in-add-black-text creditor"><span class="first-add-word">Указать </span><span><%= spec.txt %><% if (0) { %>пенсию<% } %></span></div>
					</a>
				</div>
				<%	} %>
			</div>
		</div>	
	</div>
	<% } %>
	
	<div <%= obj.not_empty_attrs() %> >
		<div class="header2" data-show-if-mode="master">Имущество
			<a href="#null" class="add">
				<button class="plus-button button--small"><% if (0) { %>указать имущество<% } %></button>
				<text>Указать имущество</text>
			</a>
		</div>
		
		<a href="#null" class="add" data-show-if-mode="details">
			<button class="plus-button button--small"><% if (0) { %>указать имущество<% } %></button>
			<text>Указать имущество</text>
		</a>
		
		<div class="generic-table">
			<div class="table-row generic-table-title">
				<div class="table-cell flex4 first-table-cell">Вид имущества</div>
				<div class="table-cell flex2">Описание</div>
				<div class="table-cell flex2 align-right">Расходы (₽/мес)</div>
				<div class="table-cell flex3 align-right">Ликв. стоимость (₽)</div>
				<div class="table-cell flex2 align-right-row last-table-cell"></div>
			</div>

			<% while (obj.iterate()) { %>
			<div class="table-row wrapper  <%= obj.item_attrs() %> ">
				<div class="table-row data property">
					<div class="table-cell flex4 first-table-cell"><a href="#null" class="edit"><%= obj.txt_field('Тип',obj.options.h_property_type.txt_for_value) %><% if (0) { %>Мототранспортное средство<% } %></a></div>
					<div class="table-cell flex2"><%= obj.txt_field(null, description)%><% if (0) { %>Описание<% } %></div>
					<div class="table-cell flex2 align-right"><%= obj.txt_field(null, payments) %><% if (0) { %>1 000<% } %></div>
					<div class="table-cell flex3 align-right"><span class="edit"><%= obj.txt_field('Стоимость', money) %><% if (0) { %>5 000<% } %></span></div>
					<div class="table-cell flex2 align-right-row last-table-cell"><a href="#null" class="delete"><button class="remove-button"></button></a></div>
				</div>
			</div>
			<% } %>
				
			<div class="table-row total">
				<div class="table-cell flex4 first-table-cell">ИТОГО</div>
				<div class="table-cell flex2"></div>
				<div class="table-cell flex2 align-right money"><span class="payments"></span></div>
				<div class="table-cell flex3 align-right money"><span class="sum"></span></div>
				<div class="table-cell flex2 align-right-row last-table-cell"></div>
			</div>
		</div>

	</div>

</div>