﻿<style>
.pfa-styled .root-abonents
{
	width: 1000px;
	margin:0 auto;
}
div.cpw-ama-pfa-root > table.root-abonents
{
	border-collapse:collapse;
	margin: 5px auto;
}
div.cpw-ama-pfa-root > table.root-abonents td
{
	padding: 5px;
	text-align:center;
	border:1px solid gray;
}
div.cpw-ama-pfa-root > table.root-abonents tr.abonent:hover
{
	background-color: #eeeeee;
}
div.cpw-ama-pfa-root > div.root-abonent-form > div.content
{
	border-top:1px solid black;
	margin-top:5px;
	padding-top:5px;
}
div.cpw-ama-pfa-root > div.root-abonent-form > span.abonent-name
{
	font-weight:bold;
}
</style>
<%

var abonents= obj.value();
if (!abonents)
	abonents= [];

%>
<div class="cpw-ama-pfa-root pfa-styled">
	<table class="root-abonents">
		<tr>
			<td colspan="4">
				<h3>Информационные ресурсы абонентов платформы финансовой помощи гражданам:</h3>
			</td>
		</tr>
		<tr>
			<td rowspan="2">Сайт:</td>
			<td colspan="2">Анкета:</td>
			<td rowspan="2">Все анкеты:</td>
		</tr>
		<tr>
			<td>Заполнить:</td>
			<td>Открыть заполненную:</td>
		</tr>
		<%	for (var i= 0; i < abonents.length; i++) 
			{ 
				var abonent= abonents[i];
		%>
		<tr class="abonent" data-id-abonent="<%= abonent.id_Abonent %>">
			<td>
				<a href="<%= abonent.URL %>">
					<%= abonent.Наименование %><% if (0) { %>Начни с начала<% } %>
				</a>
			</td>
			<td>
				<a href="#null" class="apply">Заполнить анкету</a>
			</td>
			<td>
				<a href="#null" class="cabinet">Войти в заполненную анкету</a>
			</td>
			<td>
				<a href="#null" class="admin">Открыть картотеку всех анкет</a>
			</td>
		</tr>
		<%	} %>
	</table>

	<div class="root-abonent-form" style="<%= 'display:none' %>">
		<a href="#null" class="back-to-root">Общий список абонентов</a> | 
		Абонент: "<span class="abonent-name"></span>"
		<div class="content"></div>
	</div>

</div>
