﻿<style>
div.cpw-ama-pfa-debtor-login > div.login-form div.form
{
	width:400px;
	margin:0 auto;
}
div.cpw-ama-pfa-debtor-login > div.login-form span.title
{
	display:inline-block;
	width:60px;
}
</style>
<div class="cpw-ama-pfa-debtor-login pfa-styled">

	<div class="login-form">

		<div class="header">
                    <div class="logos-container">
                            <div onclick="location.href='https://restart.expert'" class="return" style="cursor:pointer">
                                    <div class="text">Вернуться<br/> на сайт</div>
                                    <div class="to-home-button"></div>
                            </div>
                            <div class="logo">
                                <a href="https://restart.expert">
                                    <object type="image/svg+xml" data="img/restart_logo.svg" height="65" style="pointer-events: none">
                                            Your browser does not support SVG
                                    </object>
                                </a>
                            </div>
                    </div>
		</div>

		<div class="form">
			Вход в анкету личного финансового учёта
			<p>
				<span class="title">email:</span>
				<input type="text" class="login" />
			</p>
			<p>
				<span class="title">пароль:</span>
				<input type="password" class="password" />
			</p>
			<button class="login">Войти</button>
		</div>
	</div>

	<div class="logger-part">
	</div>

</div>
