﻿<style>
div.cpw-ama-pfa-debtors
{
	width:800px;
	margin:0 auto;
}

</style>
<div class="cpw-ama-pfa-debtors">

	<div class="grid">
		<table id="cpw-ama-pfa-debtors-grid" class="grid"></table>
		<div id="cpw-ama-pfa-debtors-pager"></div>
	</div>

</div>
