﻿<style>
div.cpw-ama-pfa-step4-expenses div[model-selector="Расходы"]
,div.cpw-ama-pfa-step4-expenses div[model-selector="Иждивенцы"]
,div.cpw-ama-pfa-step4-expenses div[model-selector="Выплачиваемые_алименты"]
,div.cpw-ama-pfa-step4-expenses div[model-selector="Супруги"]
{
	display:inline;
}

div.cpw-ama-pfa-step4-expenses
{
	max-width: 1280px;
	margin: 0px auto;
	display: flex;
	flex-direction: column;
}
#pfa-expense-add-form, #pfa-dependent-add-form, #pfa-alimony-add-form, #pfa-spouse-add-form,{
	height: auto !important;
	min-height: 423px !important;
}
</style>
<div class="cpw-ama-pfa-step4-expenses pfa-styled">

	<div class="header1">
		Полноценный анализ финансового положения требует учёта ежемесячных расходов.<br>
		Укажите эту информацию о своих и семейных расходах (прожиточный минимум: 7 000 ₽.)
	</div>
	
	<%= obj.control('Расходы') %>
	<% if (0) { %>Непосредственно расходы<% } %>

	<%= obj.control('Иждивенцы') %>
	<% if (0) { %>Иждивенцы<br/><% } %>

	<%= obj.control('Выплачиваемые_алименты') %>
	<% if (0) { %>Выплачиваемые_алименты<% } %>

	<%= obj.control('Супруги') %>
	<% if (0) { %>Супруги<% } %>
	
	<div class="generic-table">
		<div class="table-row total">
			<div class="table-cell flex4 first-table-cell">ИТОГО</div>
			<div class="table-cell flex2"></div>
			<div class="table-cell flex2 align-right money"><span class="payments"></span></div>
			<div class="table-cell flex4 align-right-row last-table-cell"></div>
		</div>
	</div>	
</div>