﻿<style>
.pfa-styled .ui-state-default, .pfa-styled .ui-widget-content .ui-state-default, .pfa-styled .ui-widget-header .ui-state-default {
	background: none;
	border: 0px;
	color: transparent;
}

.pfa-styled .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	float: none;
	padding: 0;
	text-decoration: none;
}

.pfa-styled #cpw-pfa-graph-tabs > ul > div
{	
	display:block;
	float:right;
}

.pfa-styled .tabs { 
    background: transparent; 
    border: none; 
} 
.pfa-styled .ui-widget-content{
	border: none;
	background: transparent;
}

.pfa-styled .ui-widget-header { 
    background: transparent; 
    border: none; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
	color: black;
}
.pfa-styled .tabs .ui-tabs-panel {
    display: none;
    background: transparent;
    border-width: 0px;
    background: none;
}
.pfa-styled .tabs .ui-tabs-nav .ui-state-default { 
    background: transparent; 
    border: none; 
} 
.pfa-styled .tabs .ui-tabs-nav .ui-state-active { 
    background: transparent no-repeat bottom center; 
    border: none; 
} 
.pfa-styled .tabs .ui-tabs-nav .ui-state-default a { 
    color: #c0c0c0; 
} 
.pfa-styled .tabs .ui-tabs-nav .ui-state-active a { 
    color: #459e00; 
}

.pfa-styled div.header .pfa-label-checkbox-text{
	font-family: "TTNorms";
	font-size: 15px;
	font-weight: normal;
}

.pfa-styled .tabs {
  float: none;
  list-style: none;
  position: relative;
  text-align: left;
}
.pfa-styled .tabs li {
  float: left;
  display: block;
}
.pfa-styled .tabs input[type="radio"] {
  position: absolute;
  top: 0;
  left: -9999px;
}
.pfa-styled .tabs .pfa-tab{
  display: block;
  padding: 8px 21px;
  border-radius: 2px 2px 0 0;
  font-size: 15px;
  font-weight: normal;
  color: #098AC4;
  font-family: "TTNorms";
  background: transparent;
  cursor: pointer;
  position: relative;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  outline : none;
}
.pfa-styled .ui-state-default:hover {
  box-shadow: inset 1px 1px #E5F9FF,
              inset -1px -1px #E5F9FF;
}
.pfa-styled .tabs .tab-content {
  z-index: 2;
  display: none;
  position: absolute;
}
.pfa-styled .ui-state-active, .pfa-styled .ui-widget-content .ui-state-active, .pfa-styled .ui-widget-header .ui-state-active {
  background: #E5F9FF;
}
.pfa-styled .ui-corner-all, .ui-corner-top{
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
.pfa-styled .ui-tabs .ui-tabs-panel{
	padding: 0;
}
.pfa-styled .ui-tabs-nav{
    margin-bottom: 10px;
}


.pfa-styled div.cpw-ama-pfa-graphs.years-aligned div#cpw-pfa-graph-tabs li.years-3
, .pfa-styled div.cpw-ama-pfa-graphs.years-3 div#cpw-pfa-graph-tabs li.years-aligned{
	display: none;
}

.pfa-styled div.cpw-ama-pfa-graphs.years-aligned div#cpw-pfa-graph-tabs li.years-aligned
,.pfa-styled .div.cpw-ama-pfa-graphs.years-3 div#cpw-pfa-graph-tabs li.years-3{
	display: block;
}

#cpw-pfa-graph-tab-1 > p:nth-child(3), #cpw-pfa-graph-tab-1 > p:nth-child(1), #cpw-pfa-graph-tab-2 > p:nth-child(3), #cpw-pfa-graph-tab-2 > p:nth-child(1), #cpw-pfa-graph-tab-3 > p:nth-child(3), #cpw-pfa-graph-tab-3 > p:nth-child(1){
	display: none;
}
</style>
<%
var v= obj.value();
if (!v || null==v)
	v= {tab_1:{}, tab_2:{}, tab_3:{}, tab_year_1:{}, tab_year_2:{}, tab_year_3:{}, tab_year_4:{} };
%>
<div class="cpw-ama-pfa-graphs years-3 pfa-styled">
	<div id="cpw-pfa-graph-tabs" <%= obj.tabs_attrs() %> >
		<ul class="tabs" role="tablist">
			<li class="years-3">
			<a href="#cpw-pfa-graph-tab-1">
				<label for="tab1" role="tab" aria-selected="true" aria-controls="panel1" tabindex="0" class="pfa-tab"><span><%= v.tab_1.Год1 %><% if (0) { %>2000<% } %>-<%= v.tab_1.Год2 %><% if (0) { %>2001<% } %> г.</span></label></a>
			</li>
			<li class="years-3">
			<a href="#cpw-pfa-graph-tab-2">
				<label for="tab2" role="tab" aria-selected="true" aria-controls="panel1" tabindex="0" class="pfa-tab"><span><%= v.tab_2.Год1 %><% if (0) { %>2000<% } %>-<%= v.tab_2.Год2 %><% if (0) { %>2001<% } %> г.</span></label></a>
			</li>
			<li class="years-3">
			<a href="#cpw-pfa-graph-tab-3">
				<label for="tab3" role="tab" aria-selected="true" aria-controls="panel1" tabindex="0" class="pfa-tab"><span><%= v.tab_3.Год1 %><% if (0) { %>2000<% } %>-<%= v.tab_3.Год2 %><% if (0) { %>2001<% } %> г.</span></label></a>
			</li>
			
			
			<li class="years-aligned"><a href="#cpw-pfa-graph-tab-y1"><label for="tabY1" role="tab" aria-selected="true" aria-controls="panel1" tabindex="0" class="pfa-tab"><span><%= v.tab_year_1.Год %><% if (0) { %>2000<% } %> г.</span></label></a></li>
			<li class="years-aligned"><a href="#cpw-pfa-graph-tab-y2"><label for="tabY2" role="tab" aria-selected="true" aria-controls="panel1" tabindex="0" class="pfa-tab"><span><%= v.tab_year_2.Год %><% if (0) { %>2001<% } %> г.</span></label></a></li>
			<li class="years-aligned"><a href="#cpw-pfa-graph-tab-y3"><label for="tabY3" role="tab" aria-selected="true" aria-controls="panel1" tabindex="0" class="pfa-tab"><span><%= v.tab_year_3.Год %><% if (0) { %>2002<% } %> г.</span></label></a></li>
			<li class="years-aligned"><a href="#cpw-pfa-graph-tab-y4"><label for="tabY4" role="tab" aria-selected="true" aria-controls="panel1" tabindex="0" class="pfa-tab"><span><%= v.tab_year_4.Год %><% if (0) { %>2003<% } %> г.</span></label></a></li>
			
			<div class="header">
				<input type="checkbox" class= "pfa-input-checkbox align" id="pfa-divide-by-years-checkbox"></input>
				<label for="pfa-divide-by-years-checkbox"></label>
				<span class="pfa-label-checkbox-text">Разбить по календарным годам</span>
			</div>
		</ul>
		

		
		<div id="cpw-pfa-graph-tab-1" class="tab-content" role="tabpanel" aria-hidden="false">
			<p><%= obj.control('ряды_1') %> <% if (0) { %>график на первый год<% } %></p>
		</div>
		<div id="cpw-pfa-graph-tab-2" class="tab-content" role="tabpanel" aria-hidden="true">
			<p><%= obj.control('ряды_2') %> <% if (0) { %>график на второй год<% } %></p>
		</div>
		<div id="cpw-pfa-graph-tab-3" class="tab-content" role="tabpanel" aria-hidden="true">
			<p><%= obj.control('ряды_3') %> <% if (0) { %>график на третий год<% } %></p>
		</div>
		
		<div id="cpw-pfa-graph-tab-y1">
			<%= obj.control('ряды_year_1') %>
			<% if (0) { %>график на первый календарный год<% } %>
		</div>
		<div id="cpw-pfa-graph-tab-y2">
			<%= obj.control('ряды_year_2') %>
			<% if (0) { %>график на второй календарный год<% } %>
		</div>
		<div id="cpw-pfa-graph-tab-y3">
			<%= obj.control('ряды_year_3') %>
			<% if (0) { %>график на третий календарный год<% } %>
		</div>
		<div id="cpw-pfa-graph-tab-y4">
			<%= obj.control('ряды_year_4') %>
			<% if (0) { %>график на четвёртрый календарный год<% } %>
		</div>
	</div>
</div>
