﻿<style><%= obj.options.Тип.css('div.cpw-ama-pfa-property','flex; flex-direction: column') %></style>
<div class="cpw-ama-pfa-property pfa-styled" <%= obj.options.Тип.switch_attrs(obj) %> >
	<div class="pop-up">
		<div class="pop-up-container">
			<div class="input-container">
				<div class="pfa-styled title">
					<span>Имущество</span>
				</div>
				<div class="input-row">
					<div class="inp input size1of2">
						<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Стоимость')%>"
						data-inputmask="
								'alias': 'currency'"
						></input>
						<span class="input-label">Рыночная стоимость *</span>
					</div>
					<div class="inp input size1of2">
						<span class="select-label full-scale">Вид *</span>
						<select class="custom-select sources" placeholder="&nbsp;" value="<%= obj.txt('Тип') %>" <%= obj.select_attrs('Тип') %>>
						<%
							var variants= obj.options.Тип.variants;
							for (var i= 0; i < variants.length; i++)
							{ 
								var v= variants[i];
						%>
							<option <%= obj.option_attrs(v.value) %> >
								<%= v.text %><% if (0) { %>Денежные средства<% } %>
							</option>
						<%	} %>
						</select>
					</div>
				</div>
				
				
				<div <%= obj.with_attrs('Денежные_средства') %> >
				<% obj.start_with() %>
				<% if (0) { %><hr /><strong>Денежные средства:</strong><br /><% } %>
					<div class="input-row">
						<div class="inp input size-full">
							<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%=obj.txt('Краткое_описание')%> /"></input>
							<span class="input-label">Краткое описание</span>
						</div>
					</div>
				<% obj.end_with() %>
				</div>
				
				
				<div <%= obj.with_attrs('Транспорт') %> >
				<% obj.start_with() %>
					<div class="input-row">
						<div class="inp input size1of2">
							<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%=obj.txt('Краткое_описание')%> /"></input>
							<span class="input-label">Описание</span>
						</div>
						<div class="inp input size1of2">
							<input class="pfa-input" placeholder="0,00 ₽/мес" value="<%= obj.txt('Расходы') %>"
							data-inputmask="
								'alias': 'payments'"
							></input>
							<span class="input-label unchangeable">Расходы</span>
						</div>
					</div>
                                	<div class="input-row">
						<div class="inp input size1of2">
							<span class="select-label full-scale">Вид собственности</span>
							<select class="custom-select sources" placeholder="&nbsp;" value="<%= obj.txt('Вид_собственности')%>" <%= obj.select_attrs('Вид_собственности') %>>
								<option>индивидуальная</option>
								<option>долевая</option>
								<option>совместная собственность</option>
							</select>
						</div>
						<div class="input size1of2">
							<div class="inp input size1of8">
								<input class="pfa-input" placeholder="1/2" value="<%= obj.txt('Размер_доли') %>" /></input>
								<span class="input-label unchangeable">Размер доли</span>
							</div>
						</div>
					</div>	
					<div class="pledge-row">
						<a href="#null" <%= obj.a_modal_attrs('Залог') %> >Имущество не находится в залоге (кликните чтобы указать другое...)</a>    
					</div>
				<% obj.end_with() %>
				</div>
					

				<div <%= obj.with_attrs('Недвижимость') %> >
				<% obj.start_with() %>
					<div class="input-row">
						<div class="inp input size1of2">
							<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%=obj.txt('Краткое_описание')%>"></input>
							<span class="input-label">Описание</span>
						</div>
						<div class="inp input size1of2">
							<input class="pfa-input" placeholder="0,00 ₽/мес" value="<%= obj.txt('Расходы') %>"
								data-inputmask="
									'alias': 'payments'"
							></input>
							<span class="input-label unchangeable">Расходы</span>
						</div>
					</div>
					<div class="input-row">
						<div class="inp input size1of2">
							<span class="select-label full-scale">Вид собственности</span>
							<select class="custom-select sources" placeholder="&nbsp;" value="<%= obj.txt('Вид_собственности')%>" <%= obj.select_attrs('Вид_собственности') %>>
								<option>индивидуальная</option>
								<option>долевая</option>
								<option>совместная собственность</option>
							</select>
						</div>
						<div class="input size1of2">
							<div class="inp input size1of8">
								<input class="pfa-input" placeholder="1/2" value="<%= obj.txt('Размер_доли') %>" /></input>
								<span class="input-label unchangeable">Размер доли</span>
							</div>
							<input type="checkbox" class= "pfa-input-checkbox" id="pfa-single-housing-checkbox" <%= obj.checkbox_attrs('Единственное_жильё') %>></input>
							<label for="pfa-single-housing-checkbox"></label>
							<span class="pfa-label-checkbox-text" style="vertical-align: baseline;">Единственное жильё</span>
						</div>
					</div>
                                	<div class="pledge-row">
						<a href="#null" <%= obj.a_modal_attrs('Залог') %> >Имущество не находится в залоге (кликните чтобы указать другое...)</a>    
					</div>
					<div class="other-owners-row">
						<a href="#null" <%= obj.a_modal_attrs('Иные_собственники') %> >Иных собственников нет (кликните чтобы указать другое...)</a>
					</div>
				<% obj.end_with() %>
				</div>
				
				<div <%= obj.with_attrs('Акции_и_участие_в_коммерческих_организациях') %> >
				<% obj.start_with() %>
					<div class="input-row">
						<div class="inp input size1of2">
							<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%=obj.txt('Краткое_описание')%> /"></input>
							<span class="input-label">Описание</span>
						</div>
						<div class="inp input size1of2 placeholder"></div>
					</div>
					<div class="pledge-row">
						<a href="#null" <%= obj.a_modal_attrs('Залог') %> >Имущество не находится в залоге (кликните чтобы указать другое...)</a>    
					</div>
					<div class="input-row">
						<div class="inp input size1of3">
							<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Доля') %>"/></input>
							<span class="input-label">Доля</span>
						</div>
						<div class="inp input size1of3">
							<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Номинальная_стоимость') %>
							data-inputmask="
								'alias': 'currency'"
							></input>
							<span class="input-label">Номинальная стоимость</span>
						</div>
						<div class="inp input size1of3">
							<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%=obj.txt('Количество_акций')%> /"></input>
							<span class="input-label">Количество акций</span>
						</div>
					</div>
					<div class="input-row">
						<div class="inp input size1of3">
							<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Коммерческая_организация') %>"/></input>
							<span class="input-label">Коммерческая организация</span>
						</div>
						<div class="inp input size1of3">
							<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('ИНН') %>"/></input>
							<span class="input-label">ИНН</span>
						</div>
						<div class="inp input size1of3">
							<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%=obj.txt('ОГРН')%> /"></input>
							<span class="input-label">ОГРН</span>
						</div>
					</div>	
				<% obj.end_with() %>
				</div>
				
				<div <%= obj.with_attrs('Ценные_бумаги') %> >
				<% obj.start_with() %>
					<div class="pledge-row">
						<a href="#null" <%= obj.a_modal_attrs('Залог') %> >Имущество не находится в залоге (кликните чтобы указать другое...)</a>    
					</div>
					<div class="input-row">
						<div class="inp input size1of3">
							<span class="select-label full-scale">Вид ценной бумаги</span>
							<select class="custom-select sources" placeholder="&nbsp;" value="<%= obj.txt('Вид_ценной_бумаги')%>" <%= obj.select_attrs('Вид_ценной_бумаги') %>>
								<option>Облигация</option>
								<option>Иные ценные бумаги</option>
							</select>
						</div>
						<div class="inp input size1of3">
							<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Номинальная_цена_обязательства') %>"
							data-inputmask="
								'alias': 'currency'"
							></input>
							<span class="input-label">Номинальная цена обязательства</span>
						</div>
						<div class="inp input size1of3">
							<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%=obj.txt('Общее_количество')%> /"></input>
							<span class="input-label">Общее количество</span>
						</div>
					</div>
					<div class="input-row">
						<div class="inp input size1of3">
							<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Эмитент') %>"/></input>
							<span class="input-label">Эмитент</span>
						</div>
						<div class="inp input size1of3">
							<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('ИНН') %>"/></input>
							<span class="input-label">ИНН</span>
						</div>
						<div class="inp input size1of3">
							<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%=obj.txt('ОГРН')%> /"></input>
							<span class="input-label">ОГРН</span>
						</div>
					</div>	
				<% obj.end_with() %>
				</div>

				<div <%= obj.with_attrs('Долги_третьих_лиц') %> >
				<% obj.start_with() %>
					<div class="pledge-row">
						<a href="#null" <%= obj.a_modal_attrs('Залог') %> >Имущество не находится в залоге (кликните чтобы указать другое...)</a>    
					</div>
					<div class="input-row">
						<div class="inp input size1of3">
							<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Должно') %>"/></input>
							<span class="input-label">Наименование</span>
						</div>
						<div class="inp input size1of3">
							<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('ИНН') %>"/></input>
							<span class="input-label">ИНН</span>
						</div>
						<div class="inp input size1of3">
							<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%=obj.txt('ОГРН')%> /"></input>
							<span class="input-label">ОГРН</span>
						</div>
					</div>	
				<% obj.end_with() %>
				</div>				

				<div <%= obj.with_attrs('Ценности') %> >
				<% obj.start_with() %>
					<div class="input-row">
						<div class="inp input size1of2">
							<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%=obj.txt('Краткое_описание')%> /"></input>
							<span class="input-label">Описание</span>
						</div>
						<div class="inp input size1of2">
							<input class="pfa-input" placeholder="0,00 ₽/мес" value="<%= obj.txt('Расходы') %>"
							data-inputmask="
								'alias': 'payments'"
							></input>
							<span class="input-label unchangeable">Расходы</span>
						</div>
					</div>
					<div class="input-row">
						<div class="inp input size1of2">
							<span class="select-label full-scale">Вид ценности</span>
							<select class="custom-select sources" placeholder="&nbsp;" value="<%= obj.txt('Вид_ценности')%>" <%= obj.select_attrs('Вид_ценности') %>>
								<option>Драгоценности</option>
								<option>Предметы искусства</option>
								<option>Имущество, необходимое для профессиональных занятий</option>
								<option>Иное ценное имущество (свыше 50 тыс. ₽)</option>
							</select>
						</div>
						<div class="inp input size1of2 placeholder"></div>
					</div>
                                	<div class="pledge-row">
						<a href="#null" <%= obj.a_modal_attrs('Залог') %> >Имущество не находится в залоге (кликните чтобы указать другое...)</a>    
					</div>
				<% obj.end_with() %>
				</div>
						</div>
		<div class="pop-up-bg"></div>
		<script  src="./js/custom-select.js"></script>
		<script>$("select.custom-select").change();</script>				
		</div>
	</div>
</div>