﻿<% var readonly= obj && obj.options && obj.options.readonly; %>
<style>
#pfa-coowner-add-form, #pfa-coowner-edit-form {
	height: auto !important;
	min-height: 280px !important;
}
</style>
<div class="cpw-ama-pfa-coowners pfa-styled">
	<div class="pop-up">
            <div class="pop-up-container">
			<div class="pfa-styled title">
				<span>Собственники</span>
			</div>
			<% if (!readonly) { %>
				<a href="#null" class="add" data-show-if-mode="details">
					<button class="plus-button button--small"><% if (0) { %>указать собственника<% } %></button>
					<span>Указать собственника</span>
				</a>
			<% } %>
		<div <%= obj.empty_attrs() %> >
		</div>

		<div <%= obj.not_empty_attrs() %> >
                    <div class="generic-table">
                            <div class="table-row generic-table-title">
                                    <div class="table-cell flex6 first-table-cell">Наименование</div>
                                    <div class="table-cell flex2 align-right">Доля</div>
                                    <div class="table-cell flex4 align-right-row last-table-cell"></div>
                            </div>

                            <% while (obj.iterate()) { %>
                            <div class="table-row wrapper"  <%= obj.item_attrs() %> >
                                    <div class="table-row data expense">
                                            <div class="table-cell flex6 first-table-cell"><a href="#null" class="edit"><%= obj.txt_field('Наименование') %> <% if (0) { %>ООО "С нами уютнее"<% } %></a></div>
                                            <div class="table-cell flex2 align-right"><%= obj.txt_field('Доля') %> <% if (0) { %>1/3<% } %></div>
                                            <div class="table-cell flex4 align-right-row last-table-cell"><% if (!readonly) { %><a href="#null" class="delete"><button class="remove-button"></button></a><% } %></div>
                                    </div>
                            </div>
                            <% } %>
                    </div>
		</div>
            <div class="pop-up-bg"></div>
	</div>
    </div>
</div>