﻿<style><%= obj.options.Тип.css('div.cpw-ama-pfa-debt','block') %>
.cpw-ama-pfa-debt.pfa-styled .payments {
	display: none;
}
</style>
<div class="cpw-ama-pfa-debt pfa-styled" <%= obj.options.Тип.switch_attrs(obj) %> >
	<div class="pop-up">
		<div class="pop-up-container">
			<div class="input-container">
				<div class="pfa-styled title">
					<span>Задолженность перед кредитором</span>
				</div>
				<div class="input-row">
					<div class="inp input size1of2">
						<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Сумма_задолженности')%>" id="pfa-debt-amount"
						data-inputmask="
							'alias': 'currency'"
						></input>
						<span class="input-label">Сумма задолженности*</span>
					</div>
					<div class="inp input size1of2">
						<span class="select-label full-scale">Вид *</span>
						<select class="custom-select sources" placeholder="&nbsp;" value="<%= obj.txt('Тип') %>" <%= obj.select_attrs('Тип') %> id ="pfa-debt-type-selector">
						<%
							var variants= obj.options.Тип.variants;
							for (var i= 0; i < variants.length; i++)
							{
								var v= variants[i];
						%>
							<option <%= obj.option_attrs(v.value) %> >
								<%= v.text %><% if (0) { %>Кредит перед банком<% } %>
							</option>
						<%	} %>
						</select>
					</div>
					<div class="inp input size1of2">
						<span class="select-label full-scale">Режим</span>
						<select class="custom-select sources" placeholder="&nbsp;" value="<%= obj.txt('Исполнительное_производство.Режим') %>" <%= obj.select_attrs('Исполнительное_производство.Режим') %> id ="pfa-ip-mode-selector">
								<option <%= obj.option_attrs('Поиск_физических_лиц') %> >Поиск физических лиц</option>
								<option <%= obj.option_attrs('Поиск_юридических_лиц') %> >Поиск юридических лиц</option>
								<option <%= obj.option_attrs('Поиск_по_номеру_исполнительного_производства') %> >Поиск по номеру исполнительного производства</option>
								<option <%= obj.option_attrs('Поиск_по_номеру_исполнительного_документа') %> >Поиск по номеру исполнительного документа</option>
						</select>
					</div>
				</div>

				<div <%= obj.with_attrs('Долг_с_кредитором') %> >
				<% obj.start_with() %>
					<div class="input-row">
						<div class="inp input size1of2">
							<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Месяц_возврата_долга')%> <%= obj.month_attrs() %>"
							></input>
							<span class="input-label">Месяц погашения по договору</span>
						</div>
						<div class="inp input size1of2">
							<input class="pfa-input" placeholder="0,00 ₽/мес" value="<%= obj.txt('Пени') %>"
							data-inputmask="
									'alias': 'payments'"
							></input>
							<span class="input-label unchangeable">Пени</span>
						</div>
					</div>
					<div class="subheader">Кредитор</div>
					<div class="input-row">
						<div class="inp input size-full">
							<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%=obj.txt('Кредитор.Наименование')%> /"></input>
							<span class="input-label">Наименование</span>
						</div>
					</div>
					<div class="input-row">
						<div class="inp input size1of3">
							<input class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Кредитор.ИНН') %>" /></input>
							<span class="input-label">ИНН</span>
						</div>
						<div class="inp input size1of3">
							<input class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Кредитор.ОГРН') %>" /></input>
							<span class="input-label">ОГРН</span>
						</div>
						<div class="input placeholder size1of3"></div>
					</div>
				<% obj.end_with() %>
				</div>

				<div <%= obj.with_attrs('Долг_с_получателем') %> >
				<% obj.start_with() %>
					<div class="input-row">
						<div class="inp input size1of2">
							<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Месяц_возврата_долга')%> <%= obj.month_attrs() %>"
							></input>
							<span class="input-label">Месяц погашения долга</span>
						</div>
						<div class="inp input size1of2">
							<input class="pfa-input" placeholder="0,00 ₽/мес" value="<%= obj.txt('Пени') %>"
							data-inputmask="
									'alias': 'payments'"
							></input>
							<span class="input-label unchangeable">Пени</span>
						</div>
					</div>
					<div class="subheader">Получатель</div>
					<div class="input-row">
						<div class="inp input size1of3">
							<input class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Получатель.Фамилия') %>" /></input>
							<span class="input-label">Фамилия</span>
						</div>
						<div class="inp input size1of3">
							<input class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Получатель.Имя') %>" /></input>
							<span class="input-label">Имя</span>
						</div>
						<div class="inp input size1of3">
							<input class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Получатель.Отчество') %>" /></input>
							<span class="input-label">Отчество</span>
						</div>
					</div>
				<% obj.end_with() %>
				</div>

				<div <%= obj.with_attrs('Кредит') %> >
				<% obj.start_with() %>
					<div class="input-row">
						<div class="inp input size1of3">
							<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Ежемесячный_платёж')%>"
							data-inputmask="
								'alias': 'payments'"
							></input>
						<span class="input-label">Ежемесячный платёж</span>
						</div>
						<div class="inp input size1of3">
							<input type="text" class="pfa-input" placeholder="&nbsp;" id="datepicker-credit-last-payment-date" value="<%= obj.txt('Дата_погашения') %>" <%= obj.month_attrs() %>
							></input>
							<span class="input-label unchangeable">Месяц погашения по договору</span>
							<span class="error-message" id="pfa-debt-credit-error-month"></span>

						</div>
						<div class="input size1of3 with-checkbox">
							<input type="checkbox" class= "pfa-input-checkbox" id="pfa-payment-overdue-checkbox" <%= obj.checkbox_attrs('Просроченный_платёж') %>></input>
							<label for="pfa-payment-overdue-checkbox"></label>
							<span class="pfa-label-checkbox-text">Есть просроченные платежи</span>
							</select>
						</div>
					</div>
					<div id="debt-credit-overdue-fields" style="display: none">
						<div class="input-row">
							<div class="inp input size1of2">
								<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Сумма_просроченного_платёжа')%>"
								></input>
								<span class="input-label">Сумма просроченного платёжа</span>
							</div>
							<div class="inp input size1of2">
								<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Дата_последнего_платежа')%> <%= obj.date_attrs() %>"
								data-inputmask="
										'alias': 'datetime'"
								></input>
								<span class="input-label">Дата последнего платежа</span>
							</div>
						</div>
					</div>
					<div class="subheader">Кредитор</div>
					<div class="input-row">
						<div class="inp input size-full">
							<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%=obj.txt('Кредитор.Наименование')%> /"></input>
							<span class="input-label">Наименование</span>
						</div>
					</div>
					<div class="input-row">
						<div class="inp input size1of3">
							<input class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Кредитор.ИНН') %>" /></input>
							<span class="input-label">ИНН</span>
						</div>
						<div class="inp input size1of3">
							<input class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Кредитор.ОГРН') %>" /></input>
							<span class="input-label">ОГРН</span>
						</div>
						<div class="input placeholder size1of3"></div>
					</div>
				<% obj.end_with() %>
				</div>

				<div <%= obj.with_attrs('Долг') %>>
				<% obj.start_with() %>
					<div class="input-row">
						<div class="inp input size1of2">
							<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Месяц_возврата_долга')%> <%= obj.month_attrs() %>"
							></input>
							<span class="input-label">Месяц возврата задолженности</span>
						</div>
						<div class="inp input size1of2">
							<input class="pfa-input" placeholder="0,00 ₽/мес" value="<%= obj.txt('Пени') %>"
							data-inputmask="
									'alias': 'payments'"
							></input>
							<span class="input-label unchangeable">Пени</span>
						</div>
					</div>
					<div class="input-row">
						<div class="inp input size-full">
							<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%=obj.txt('Описание')%> /"></input>
							<span class="input-label">Описание</span>
						</div>
					</div>
				<% obj.end_with() %>
				</div>

				<div <%= obj.with_attrs('Исполнительное_производство')%>>
				<% obj.start_with() %>
					<div id="pfa-fl-ip-inputs">
						<div class="input-row">
							<div class="inp input size1of2">
								<span class="select-label full-scale">Территориальные органы</span>
								<select class="custom-select sources" placeholder="&nbsp;" value="<%= obj.txt('Исполнительное_производство.Территориальные_органы')%>">
								<option <%= obj.option_attrs('Удмуртская_Республика') %> >Удмуртская Республика</option>
								<option <%= obj.option_attrs('Ульяновская_область') %> >Ульяновская область</option>
								</select>
							</div>
							<div class="inp input size1of2">
								<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Должник.Дата_рождения')%> <%= obj.date_attrs() %>"
								data-inputmask="
										'alias': 'datetime'"
								></input>
								<span class="input-label">Дата рождения</span>
							</div>
						</div>
						<div class="input-row">
							<div class="inp input size1of3">
								<input class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Должник.Фамилия') %>" /></input>
								<span class="input-label">Фамилия</span>
							</div>
							<div class="inp input size1of3">
								<input class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Должник.Имя') %>" /></input>
								<span class="input-label">Имя</span>
							</div>
							<div class="inp input size1of3">
								<input class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Должник.Отчество') %>" /></input>
								<span class="input-label">Отчество</span>
							</div>
						</div>
						<button class="btn" id="pfa-fl-ip-search">Найти ИП по ФЛ</button>
					</div>

					<div id="pfa-ip-ip-inputs">
						<div class="input-row">
							<div class="inp input size-full">
								<span class="select-label full-scale">Территориальные органы</span>
								<select class="custom-select sources" placeholder="&nbsp;" value="<%= obj.txt('Исполнительное_производство.Территориальные_органы')%>">
								<option <%= obj.option_attrs('Удмуртская_Республика') %> >Удмуртская_Республика</option>
								<option <%= obj.option_attrs('Ульяновская_область') %> >Ульяновская область</option>
								</select>
							</div>
						</div>
						<div class="input-row">
							<div class="inp input size-full">
								<input class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Исполнительное_производство.Предприятие.Наименование') %>" /></input>
								<span class="input-label">Наименование предприятия-должника</span>
							</div>
						</div>
						<div class="input-row">
							<div class="inp input size-full">
								<input class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Исполнительное_производство.Предприятие.Адрес') %>" /></input>
								<span class="input-label">Адрес предприятия-должника</span>
							</div>
						</div>
						<button class="btn" id="pfa-ip-ip-search">Найти ЮЛ</button>
					</div>

					<div id="pfa-number-ip-inputs">
						<div class="input-row">
							<div class="inp input size-full">
								<input class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Исполнительное_производство.Номер') %>" /></input>
								<span class="input-label">Номер исполнительного производства</span>
							</div>
						</div>
						<button class="btn" id="pfa-number-ip-search">Найти по номеру ИП</button>
					</div>

					<div id="pfa-id-ip-inputs">
						<div class="input-row">
							<div class="inp input size1of2">
								<span class="select-label full-scale">Территориальные органы</span>
								<select class="custom-select sources" placeholder="&nbsp;" value="<%= obj.txt('Исполнительное_производство.Территориальные_органы')%>">
								<option <%= obj.option_attrs('Удмуртская_Республика') %> >Удмуртская Республика</option>
								<option <%= obj.option_attrs('Ульяновская_область') %> >Ульяновская область</option>
								</select>
							</div>
							<div class="inp input size1of2">
								<input class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Исполнительное_производство.Исполнительный_документ.Номер') %>" /></input>
								<span class="input-label">Номер исполнительного документа</span>
							</div>
						</div>
						<div class="input-row">
							<div class="inp input size-full">
								<span class="select-label full-scale">Тип исполнительного документа</span>
								<select class="custom-select sources" placeholder="&nbsp;" value="<%= obj.txt('Исполнительное_производство.Исполнительный_документ.Тип')%>">
								<option <%= obj.option_attrs('Исполнительный_лист') %> >Исполнительный лист</option>
								<option <%= obj.option_attrs('Название') %> >Название</option>

								<option <%= obj.option_attrs('Нотариально_удостоверенное_соглашение_об_оплате_алиментов') %> >Нотариально удостоверенное соглашение об оплате алиментов</option>
								</select>
							</div>
						</div>
						<div class="input-row">
							<div class="inp input size-full">
								<input class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Исполнительное_производство.Исполнительный_документ.Выдан') %>" /></input>
								<span class="input-label">Наименование органа, выдавшего исполнительный документ</span>
							</div>
						</div>
						<button class="btn" id="pfa-id-ip-search">Найти по номеру ИД</button>
					</div>

					<div class="search-result-selects" hidden>
						<div class="unchoosen-select-bock" style="display: inline;">
							<select class="unchoosen-select" multiple="multiple" style="width: 500px; font-size: small;">
							</select>
						</div>
						<div class="buttons-bock" style="display: inline;">
							<button class="select-all" >>></button>
							<button class="select">></button>
							<button class="unselect"><</button>
							<button class="unselect-all"><<</button>
						</div>
						<div class="unchoosen-select-bock" style="display: inline;">
							<select class="choosen-select" multiple="multiple" style="width: 500px; font-size: small;">
							</select>
						</div>
					</div>

				</div>
				<% obj.end_with() %>
				</div>
				<button class="btn payments">График платежей</button>
			</div>
		</div>
		<div class="pop-up-bg"></div>
		<script  src="./js/custom-select.js"></script>
		<script>$("select.custom-select").change();</script>
	</div>
</div>