<style>
div.cpw-ama-pfa-master
{	
	margin: 0px auto;
	padding: 0 20px;
}
div.cpw-ama-pfa-master .steps.pfa-styled
{
	max-width: 870px;
	margin: 0px auto;
	padding: 0 20px 40px;
}

div.cpw-ama-pfa-master div.header div.title
{
	display:inline-block;
}
div.cpw-ama-pfa-master div.buttons div.next
{
	float:right;
}
div.cpw-ama-pfa-master div.buttons
{
    display: flex;
}
div.cpw-ama-pfa-master div.buttons button
{
	display: block;
	float: left;
}
div.cpw-ama-pfa-master div.main-text ul
{
	margin-top:0;
	margin-bottom:0;
}
div.cpw-ama-pfa-master > div.steps > div.header
{
	font-family: TTNorms;
}
div.cpw-ama-pfa-master > div.steps [data-show-if-mode="details"]
{
	display:none !important;
}

div.cpw-ama-pfa-master > div.steps > div.header div.head-large
{
	text-align: center;
	font-family: TTNorms;
	font-style: normal;
	font-weight: 600;
	font-size:30px;
	line-height:35px;
	letter-spacing: 1px;
	margin-bottom: 35px;
	color: #122C2E;
}

div.steps-control-buttons.align-center > span.next, div.steps-control-buttons.align-center > span.prev
{
	display: flex;
	flex-direction: column;
}

.pfa-styled .list{
	list-style-type: none;
	font-family: TTNorms;
}

.pfa-styled .logos-container .logo a{
    display: inline-block;
    height: inherit;
    width: 219px;
    z-index: 1;
    cursor: pointer;
}
</style>
<div class="cpw-ama-pfa-master pfa-styled">
	<div class="logos-container">
		<div onclick="location.href='https://restart.expert'" class="return" style="cursor:pointer">
			<div class="text">Вернуться<br/> на сайт</div>
			<div class="to-home-button"></div>
		</div>
		<div class="logo">
                    <a href="https://restart.expert">
                        <object type="image/svg+xml" data="img/restart_logo.svg" height="100%" style="pointer-events: none">
                                Your browser does not support SVG
                        </object>
                    </a>
                </div>
	</div>
	<div class="steps pfa-styled">
		<div class="header">
			<div class="head-large">Анализ финансового состояния</div>
			<div class="progress">
				<div class="progress-value"></div>
			</div>
			<div class="steps-information">
				<span class="steps-counter">Шаг <span class="step-number">1</span> из 5</span>
				<div class="title">Сведения о задолженности</div>
			</div>
		</div>

		<div class="step1">
			<div class="header1">Для анализа текущего финансового состояния необходимо указать ваши задолженности</div>
			<%= obj.control('Долги') %>
			<% if (0) { %>Поля шага 1 "Долги"<% } %>
		</div>

		<div class="step2" style="<%= 0 ? '': 'display:none' %>">
			<div class="header1">
				При возврате долгов нужно учитывать получаемые вами регулярно доходы, опишите их:
			</div>
			<%= obj.control('Доходы') %>
			<% if (0) { %>Поля шага 2 "Доходы"<% } %>
		</div>

		<div class="step3" style="<%= 0 ? '': 'display:none' %>">
			<div class="header1">
				Для полного анализа финансового положения необходимо учесть имущество, находящееся у вас в собственности
					<div class="subheader1">- с одной стороны некоторые виды имущества требуют регулярных затрат на своё содержание</div>
					<div class="subheader1">- с другой стороны при необходимости часть имущества можно продать для того чтобы расчитаться с долгами</div>
			</div>
			<%= obj.control('Имущество') %>
			<% if (0) { %>Поля шага 3 "Имущество"<% } %>
		</div>

		<div class="step4" style="<%= 0 ? '': 'display:none' %>">
			<%= obj.fields_control('Шаг4') %>
			<% if (0) { %>Поля шага 4 "Расходы"<% } %>
		</div>

		<div class="step5" style="<%= 0 ? '': 'display:none' %>">
			<div class="header1">
				Мы проводим анализ вашего финансового состояния. Для получения укажите ваши данные
			</div>
			<%= obj.control('Персональные_данные') %>
			<% if (0) { %>Поля шага 5 "Персональные данные"<% } %>
		</div>

		<div class="steps-control-buttons align-center">
			<span class="prev">
				<button class="btn btn-back back" style="<%= 0 ? '': 'display:none' %>">Назад</button>
			</span>
			<span class="next">
				<button class="btn btn-forward next-with-person" style="<%= 0 ? '': 'display:none' %>">Получить результаты</button>
				<button class="btn btn-forward next">Следующий шаг</button>
			</span>
			<div style="clear:both"></div>
		</div>

	</div>
</div>
<div class="result">
	
</div>