﻿<style>
div.cpw-ama-pfa-abonent-main
{
	width:1000px;
	margin:0 auto;
}
div.cpw-ama-pfa-abonent-main > div.header span.title
{
	font-size:large;
	font-weight:bold;
}
div.cpw-ama-pfa-abonent-main > div.header div.right
{
	float:right;
}
div.cpw-ama-pfa-abonent-main > div.header span.title
{
	cursor:pointer;
}
div.cpw-ama-pfa-abonent-main > div.debtor-view
{
	border-top:1px solid black;
	margin-top: 5px;
	padding-top: 5px;
}
</style>
<%
var abonent= obj.value();
if (!abonent || null==abonent)
	abonent= {};
%>
<div class="cpw-ama-pfa-abonent-main">

	<div class="header">
		<span class="title">Кабинет администрирования</span> 

		<div class="right">
			абонента 
			<a href="#null"><%= abonent.Название %><% if (0) { %>Рестарт<% } %></a> | 
			<a href="#null">Выйти</a>
		</div>
	</div>

	<div id="cpw-pfa-abonent-main-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-pfa-abonent-main-tab-1">Анкеты</a></li>
		</ul>
		<div id="cpw-pfa-abonent-main-tab-11">
			<%= obj.fields_control('Анкеты') %>
			<% if (0)  { %>Анкеты<% } %>
		</div>
	</div>

	<div class="debtor-view" style="<%= 'display:none' %>">
		<% if (0) { %>
		Область для показа анкеты
		<% } %>
	</div>

</div>
