﻿<div class="cpw-ama-pfa-dependent pfa-styled">
	<div class="pop-up">
		<div class="pop-up-container">
			<div class="input-container">
				<div class="pfa-styled title">
					<span>Сумма расходов в месяц:</span>
				</div>
				<div class="input-row">
					<div class="inp input size1of2">
						<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Дата_рождения')%>" <%= obj.date_attrs() %>
						data-inputmask="
							'alias': 'datetime'"
						></input>
						<span class="input-label">Дата рождения</span>
					</div>
					<div class="inp input size1of2">
						<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Расходы_в_месяц')%>"
						data-inputmask="
							'alias': 'currency'"
						></input>
						<span class="input-label">Расходы в месяц</span>
					</div>
				</div>
				<div class="input-row">
					<div class="inp input size1of3">
						<input class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Фамилия') %>" /></input>
						<span class="input-label">Фамилия</span>
					</div>
					<div class="inp input size1of3">
						<input class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Имя') %>" /></input>
						<span class="input-label">Имя</span>
					</div>
					<div class="inp input size1of3">
						<input class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Отчество') %>" /></input>
						<span class="input-label">Отчество</span>
					</div>
				</div>
			</div>
			<div class="pop-up-bg"></div>
		</div>
	</div>
</div>