﻿<style>
div.cpw-ama-pfa-debts
{
	max-width: 1280px;
	margin: 0px auto;
	display: flex;
	flex-direction: column;
}
div.cpw-ama-pfa-debts div.col
{
	flex: 0 0 50%;
}
@media (max-width: 885px) {
	.cpw-ama-pfa-debts.pfa-styled .buttons{
		display: inline-block;
	}
}
#pfa-debt-add-form, #pfa-debt-edit-form {
	height: auto !important;
	min-height: 429px !important;
	width: 100% !important;
	max-width: 1429px !important;
}
</style>

<% if (0) { %>
<style>
div.cpw-ama-pfa-debts div.table-row > div
{
	display:inline-block;
	padding:5px;
}
</style>
<% } %>

<% 

var кредиторы= 
{
	перед:
	[
		{txt:'банком', type:'перед_банком'}
		,{txt:'микрофинансовой организацией', type:'перед_микрофинансовой_организацией'}
		,{txt:'коллекторским агенством', type:'перед_коллекторским_агенством'}
		,{txt:'другим физическим лицом', type:'перед_другим_физическим_лицом'}
		,{txt:'организацией', type:'перед_организацией'}
	]
	,по:
	[
		{txt:'налогам', type:'по_налогам'}
		,{txt:'социальному страхованию и взносам в ПФРФ', type:'по_социальному_страхованию'}
		,{txt:'административным штрафам', type:'по_административным_штрафам'}
		,{txt:'уголовным штрафам', type:'по_уголовным_штрафам'}
		,{txt:'алиментам', type:'по_алиментам'}
		,{txt:'ЖКХ', type:'по_ЖКХ'}
	]
};

var денежная_сумма_текстом = obj.options.денежная_сумма_текстом;
var среднемесячный_платёж= function(d)
{
	if (!d || null==d || 0==d.length || d == 0){
		return '-';
	}
	else {
		if(!isNaN(obj.options.среднемесячный_платёж_по_задолженности(d)) && obj.options.среднемесячный_платёж_по_задолженности(d) != 0){
			return денежная_сумма_текстом(obj.options.среднемесячный_платёж_по_задолженности(d)) + ' ₽/мес'
		}
		else {
			return '-'
		}
	}
}
%>

<div class="cpw-ama-pfa-debts pfa-styled">
	<div <%= obj.empty_attrs() %> >
		<% if (0) { %>Фрагмент для пустой коллекции<% } %>
		<div class="row-add" data-show-if-mode="details">
			<a href="#null" class="add" data-show-if-mode="details">
				<button class="plus-button button--small"><% if (0) { %>указать задолженность<% } %></button>
				<span>Указать задолженность</span>
			</a>
		</div>

		<div class="buttons" data-show-if-mode="master">
			<div class="col">
				<%	for (var i= 0; i < кредиторы.по.length; i++) 
					{
						var spec= кредиторы.по[i];
				%>
				<div class="row-add">
					<a href="#null" class="add" data-debt-type="<%= spec.type %>">
						<button class="plus-button button--small"><% if (0) { %>указать задолженность<% } %></button>
						<div class="in-add-black-text creditor"><span class="first-add-word">По </span><span><%= spec.txt %><% if (0) { %>налогам<% } %></span></div>
					</a>
				</div>
				<%	} %>
			</div>
		
			<div class="col">
				<%	for (var i= 0; i < кредиторы.перед.length; i++) 
					{
						var spec= кредиторы.перед[i];
				%>
				<div class="row-add">
					<a href="#null" class="add" data-debt-type="<%= spec.type %>">
						<button class="plus-button button--small"><% if (0) { %>указать задолженность<% } %></button>
						<div class="in-add-black-text creditor"><span class="first-add-word">Перед </span><span><%= spec.txt %><% if (0) { %>Банками<% } %></span></div>
					</a>
				</div>
				<%	} %>
			</div>
		</div>
	</div>
	
	<div <%= obj.not_empty_attrs() %> >
		<div class="header2" data-show-if-mode="master">Задолженности
		<a href="#null" class="add">
			<button class="plus-button button--small"><% if (0) { %>указать задолженность<% } %></button>
			<text>Указать задолженность</text>
		</a>
		</div>
		
		<a href="#null" class="add" data-show-if-mode="details">
			<button class="plus-button button--small"><% if (0) { %>указать задолженность<% } %></button>
			<text>Указать задолженность</text>
		</a>
		
		<div class="generic-table">
			<div class="table-row generic-table-title">
				<div class="table-cell flex4 first-table-cell">Перед кредитором</div>
				<div class="table-cell flex2 align-right">На сумму(₽)</div>
				<div class="table-cell flex5 align-right">Среднемесячный платёж(₽/мес)</div>
				<div class="table-cell flex3 align-right-row last-table-cell"></div>
			</div>

			<% while (obj.iterate()) { %>
			<div class="table-row wrapper"  <%= obj.item_attrs() %> >
				<div class="table-row data">
					<div class="table-cell flex4 first-table-cell"><a href="#null" class="edit"><%= obj.txt_field(null, obj.options.описание) %><% if (0) { %>ПАО Сбербанк<% } %></a></div>
					<div class="table-cell flex2"><a href="#null" class="edit align-right"><%= obj.txt_field('Сумма_задолженности',денежная_сумма_текстом) %><% if (0) { %>3 000 000<% } %></div>
					<div class="table-cell flex5"><a href="#null" class="edit align-right"><%= obj.txt_field(null,среднемесячный_платёж) %><% if (0) { %>30 000 р<% } %></a></div>
					<div class="table-cell flex3 align-right-row last-table-cell"><a href="#null" class="delete"><button class="remove-button"><% if (0) { %>удалить<% } %></button></a></div>
				</div>
			</div>
			<% } %>

			<div class="table-row total">
				<div class="table-cell flex4 first-table-cell pfa-table-cell-with-total">ИТОГО</div>
				<div class="table-cell flex2 align-right money"><span class="sum"></span></div>
				<div class="table-cell flex5 align-right money"><span class="payments"></span></div>
				<div class="table-cell flex3 align-right-row last-table-cell"></div>
			</div>
		</div>
	</div>
</div>
<div class="divider"></div>