﻿<style>
div.cpw-ama-pfa-details
{
	width:900px;
	margin:0 auto;
}
div.cpw-ama-pfa-details [data-show-if-mode="master"]
{
	display:none !important;
}
</style>
<div class="cpw-ama-pfa-details">

	<div id="cpw-pfa-details-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-pfa-details-tab-1">Долги</a></li>
			<li><a href="#cpw-pfa-details-tab-2">Имущество</a></li>
			<li><a href="#cpw-pfa-details-tab-3">Доходы</a></li>
			<li><a href="#cpw-pfa-details-tab-4">Расходы</a></li>
			<li><a href="#cpw-pfa-details-tab-5">Иждивенцы</a></li>
			<li><a href="#cpw-pfa-details-tab-6">Алименты</a></li>
			<li><a href="#cpw-pfa-details-tab-7">Супруги</a></li>
		</ul>

		<div id="cpw-pfa-details-tab-1">
			<%= obj.control('Долги') %>
			<% if (0) { %>Здесь должна быть информация о долгах<% } %>
		</div>

		<div id="cpw-pfa-details-tab-2">
			<%= obj.control('Имущество') %>
			<% if (0) { %>Здесь должна быть информация об имуществе<% } %>
		</div>

		<div id="cpw-pfa-details-tab-3">
			<%= obj.control('Доходы') %>
			<% if (0) { %>Здесь должна быть информация о доходах<% } %>
		</div>

		<div id="cpw-pfa-details-tab-4">
			<%= obj.control('Расходы') %>
			<% if (0) { %>Здесь должна быть информация о расходах<% } %>
		</div>

		<div id="cpw-pfa-details-tab-5">
			<%= obj.control('Иждивенцы') %>
			<% if (0) { %>Здесь должна быть информация об иждивенцах<% } %>
		</div>

		<div id="cpw-pfa-details-tab-6">
			<%= obj.control('Выплачиваемые_алименты') %>
			<% if (0) { %>Здесь должна быть информация об алиментах<% } %>
		</div>

		<div id="cpw-pfa-details-tab-7">
			<%= obj.control('Супруги') %>
			<% if (0) { %>Здесь должна быть информация о супругах<% } %>
		</div>

	</div>

</div>
