﻿<style>
.pfa-styled.cpw-ama-pfa-summary a{
	color: inherit;
	text-decoration: none;
}
</style>
<%
var v= obj.value();
if (!v || null==v)
	v= obj.options.summary0;
var money= function(n)
{
	if (!n || null==n)
	{
		return '0 ₽';
	}
	else
	{
		return obj.options.h_number_format(n, 0, ' ,', ' ')+' ₽';
	}
}
%>
<div class="cpw-ama-pfa-summary pfa-styled">
	<div class="top-block">
		<div class="current-status">
			<div class="counter-header">Текущее состояние</div>
			<div class="counter-line"><a href="#null" data-part="Долги">Долги<div class="amount"><%= money(v.Баланс.Пассивы.Сумма) %><% if (0) { %>10 000 000<% } %></a></div></div>
			<div class="counter-line"><a href="#null" data-part="Деньги">Наличные<div class="amount"><%= money(v.Баланс.Активы.Составляющие.Наличные) %><% if (0) { %>100 000<% } %></a></div></div>
			<div class="counter-line"><a href="#null" data-part="Имущество">Имущество<div class="amount"><%= money(v.Баланс.Активы.Составляющие.Имущество) %><% if (0) { %>20 000 000<% } %></a></div></div>
		</div>
	</div>
	<div class="bottom-block">
		<div class="average-income">
			<div class="counter-header">Среднемесячные доходы</div>
			<div class="counter-line"><a href="#null" data-part="Доходы">Доходы<div class="amount">+<%= money(v.Среднемесячно.Доходы.Сумма) %><% if (0) { %>20 000 000<% } %></a></div></div>
		</div>
		<div class="average-expenses">
			<div class="counter-header">Среднемесячные расходы</div>
			<div class="counter-line"><a href="#null" data-part="Расходы на жизнь">На жизнь<div class="amount"><%= money(- v.Среднемесячно.Расходы.Составляющие.На_жизнь.Сумма) %><% if (0) { %>- 24 000<% } %></a></div></div>
			<div class="counter-line"><a href="#null" data-part="Расходы на имущество">На имущество<div class="amount"><%= money(- v.Среднемесячно.Расходы.Составляющие.На_имущество) %><% if (0) { %>- 5 000<% } %></a></div></div>
			<div class="counter-line"><a href="#null" data-part="Расходы на погашения">На погашения<div class="amount"><%= money(- v.Среднемесячно.Расходы.Составляющие.На_погашения) %><% if (0) { %>- 30 000<% } %></a></div></div>
			<div class="counter-line"><a href="#null" data-part="Расходы на цену долга">На цену долга<div class="amount"><%= money(- v.Среднемесячно.Расходы.Составляющие.Проценты) %><% if (0) { %>- 10 000<% } %></a></div></div>
			<% var m= v.Среднемесячно.Приращение; %>
			<div class="counter-line"><a href="#null"><span>ИТОГО</span><div class="amount<%= m<0 ? ' red' : '' %>"><%= money(v.Среднемесячно.Приращение) %><% if (0) { %>- 19 000<% } %></a></div></div>
		</div>
	</div>
</div>
