﻿<style>
div.cpw-ama-pfa-pledge
{
	margin:0 auto;
}
div.cpw-ama-pfa-pledge label
{
	display:block;
}
</style>
<div class="cpw-ama-pfa-pledge pfa-styled">
	<div class="pop-up">
		<div class="pop-up-container">
                    <div class="pfa-styled title">
                            <span>Залог</span>
                    </div>
                    <div class="field-row with-checkbox">
                                    <input type="radio" class= "pfa-input-checkbox" id="pfa-not-pledged-radio" <%= obj.radio_attrs('В_залоге_ли','нет_НЕ_в_залоге') %> checked></input>
                                    <label for="pfa-not-pledged-radio"></label>
                                    <span class="pfa-label-checkbox-text"> Имущество НЕ находится в залоге</span>
                    </div>
                    <div class="field-row with-checkbox">
                                    <input type="radio" class= "pfa-input-checkbox" id="pfa-pledged-radio" <%= obj.radio_attrs('В_залоге_ли','да_в_залоге') %>></input>
                                    <label for="pfa-pledged-radio"></label>
                                    <span class="pfa-label-checkbox-text"> Имущество находится в залоге у</span>
                    </div>
                    <div class="pledge-data">
                            <div class="input-row">
                                    <div class="inp input size-full">
                                            <input type="text" class="pfa-input" placeholder="&nbsp;" value="<%=obj.txt('Залогодержатель.Наименование')%> /"></input>
                                            <span class="input-label">Наименование</span>
                                    </div>
                            </div>
                            <div class="input-row">
                                    <div class="inp input size1of3">
                                            <input class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Залогодержатель.ИНН') %>" /></input>
                                            <span class="input-label">ИНН</span>
                                    </div>
                                    <div class="inp input size1of3">
                                            <input class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Залогодержатель.ОГРН') %>" /></input>
                                            <span class="input-label">ОГРН</span>
                                    </div>
                                    <div class="input placeholder size1of3"></div>
                            </div>
                    </div>
                </div>
            <div class="pop-up-bg"></div>
	</div>
</div>