﻿<style><%= obj.options.Тип.css('div.cpw-ama-pfa-income','flex; flex-direction: column') %></style>
<div class="cpw-ama-pfa-income pfa-styled" <%= obj.options.Тип.switch_attrs(obj) %> >
	<div class="pop-up">
		<div class="pop-up-container">
			<div class="input-container">
				<div class="pfa-styled title">
					<span>Доход</span>
				</div>
				<div class="input-row">
					<div class="inp input size1of2">
						<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Среднемесячный_размер')%>"
						data-inputmask="
							'alias': 'currency'"
						></input>
						<span class="input-label">Средний размер *</span>
					</div>
					<div class="inp input size1of2">
						<span class="select-label full-scale">Вид дохода *</span>
						<select class="custom-select sources" placeholder="&nbsp;" value="<%= obj.txt('Тип') %>" <%= obj.select_attrs('Тип') %>>
						<%
							var variants= obj.options.Тип.variants;
							for (var i= 0; i < variants.length; i++)
							{ 
								var v= variants[i];
						%>
							<option <%= obj.option_attrs(v.value) %> >
								<%= v.text %><% if (0) { %>Подработка по гражданскому договору<% } %>
							</option>
						<%	} %>
						</select>
					</div>
				</div>
				
				<div <%= obj.with_attrs('Заработная_плата') %>>
				<% obj.start_with() %>
					<div class="input-row">
						<div class="inp input size-full">
							<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%=obj.txt('Работодатель.Наименование')%> /"></input>
							<span class="input-label">Работодатель</span>
						</div>
					</div>
					<div class="input-row">
						<div class="inp input size1of3">
							<input class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Работодатель.ИНН') %>" /></input>
							<span class="input-label">ИНН</span>
						</div>
						<div class="inp input size1of3">
							<input class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Работодатель.ОГРН') %>" /></input>
							<span class="input-label">ОГРН</span>
						</div>
						<div class="input placeholder size1of3"></div>
					</div>
					<div class="input-row">
						<div class="inp input size-full">
							<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%=obj.txt('Должность')%> /"></input>
							<span class="input-label">Должность</span>
						</div>
					</div>
				<% obj.end_with() %>
				</div>
				
				<div <%= obj.with_attrs('Подработка_по_гражданскому_договору') %>>
				<% obj.start_with() %>
				<div class="input-row">
					<div class="inp input size1of2">
						<span class="select-label full-scale">Периодичность получения</span>
						<select class="custom-select sources" placeholder="&nbsp;" value="<%= obj.txt('Периодичность_получения')%>">
							<option <%= obj.option_attrs('регулярная') %> >Регулярная</option>
							<option <%= obj.option_attrs('НЕ регулярная') %> >НЕ регулярная</option>
						</select>
					</div>
					<div class="input placeholder size1of2"></div>
				</div>
				<% obj.end_with() %>
				</div>

				<div <%= obj.with_attrs('Алименты') %>>
				<% obj.start_with() %>
				<div class="input-row">
						<div class="inp input size1of3">
							<span class="select-label full-scale">Основание выплаты</span>
							<select class="custom-select sources" placeholder="&nbsp;" value="<%= obj.txt('Основание_выплаты')%>" <%= obj.select_attrs('Основание_выплаты') %>>
								<option <%= obj.option_attrs('Решение суда') %> >Решение суда</option>
								<option <%= obj.option_attrs('Соглашение об уплате алиментов') %> >Соглашение об уплате алиментов</option>
							</select>
						</div>
						<div class="inp input size1of3">
							<input type="text" class="pfa-input" placeholder="&nbsp;" id="datepicker-date-of-alimony-start" value="<%= obj.txt('Период_получения.с') %>" <%= obj.date_attrs() %>
							data-inputmask="
								'alias': 'datetime'"
							></input>
							<span class="input-label">Получение с</span>
						</div>
						<div class="inp input size1of3">
							<input type="text" class="pfa-input" placeholder="&nbsp;" id="datepicker-date-of-alimony-end" value="<%= obj.txt('Период_получения.до') %>" <%= obj.date_attrs() %>
							data-inputmask="
								'alias': 'datetime'"
							></input>
							<span class="input-label">Получение до</span>
						</div>
					</div>
					<div class="subheader">Плательщик</div>
					<div class="input-row">
						<div class="inp input size1of3">
							<input class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Плательщик.Фамилия') %>" /></input>
							<span class="input-label">Фамилия</span>
						</div>
						<div class="inp input size1of3">
							<input class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Плательщик.Имя') %>" /></input>
							<span class="input-label">Имя</span>
						</div>
						<div class="inp input size1of3">
							<input class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Плательщик.Отчество') %>" /></input>
							<span class="input-label">Отчество</span>
						</div>
					</div>
				<% obj.end_with() %>
				</div>
				
				<div <%= obj.with_attrs('Пособие_и_подобные_выплаты') %>>
					<% obj.start_with() %>
					<div class="input-row">
						<div class="inp input size1of3">
							<span class="select-label full-scale">Разновидность *</span>
							<select class="custom-select sources" placeholder="&nbsp;" value="<%= obj.txt('Разновидность')%>" <%= obj.select_attrs('Разновидность') %>>
								<option <%= obj.option_attrs('по временной нетрудоспособности') %> >Пособие по временной нетрудоспособности</option>
								<option <%= obj.option_attrs('по безработице') %> >Пособие по безработице</option>
								<option <%= obj.option_attrs('по беременности и родам') %> >Пособие по беременности и родам</option>
								<option <%= obj.option_attrs('ежемесячное по уходу за ребенком до 1,5 лет') %> >Ежемесячное пособие по уходу за ребенком до 1,5 лет</option>
								<option <%= obj.option_attrs('ежемесячное на ребенка, установленное в субъекте РФ') %> >Ежемесячное пособие на ребенка, установленное в субъекте РФ</option>
								<option <%= obj.option_attrs('ежемесячное на ребенка военнослужащего, проходящего военную службу по призыву') %> >ежемесячное пособие на ребенка военнослужащего, проходящего военную службу по призыву</option>
								<option <%= obj.option_attrs('иное') %> >Иное пособие / выплата</option>
							</select>
						</div>
						<div class="inp input size1of3">
							<input type="text" class="pfa-input" placeholder="&nbsp;" id="datepicker-date-of-allowance-start" value="<%= obj.txt('Период_получения.с') %>" <%= obj.date_attrs() %>
							data-inputmask="
								'alias': 'datetime'"
							></input>
							<span class="input-label">Получение с</span>
						</div>
						<div class="inp input size1of3">
							<input type="text" class="pfa-input" placeholder="&nbsp;" id="datepicker-date-of-allowance-end" value="<%= obj.txt('Период_получения.до') %>" <%= obj.date_attrs() %>
							data-inputmask="
								'alias': 'datetime'"
							></input>
							<span class="input-label">Получение до</span>
						</div>
					</div>
					<div class="input-row">
						<div class="inp input size-full">
							<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%=obj.txt('Описание')%> /"></input>
							<span class="input-label">Описание</span>
						</div>
					</div>
					<% obj.end_with() %>
				</div>
				
				<div <%= obj.with_attrs('Пенсия') %>>
				<% obj.start_with() %>
					<div class="input-row">
						<div class="inp input size1of3">
							<span class="select-label full-scale">Вид пенсии</span>
							<select class="custom-select sources" placeholder="&nbsp;" value="<%= obj.txt('Вид')%>" <%= obj.select_attrs('Вид') %>>
								<option <%= obj.option_attrs('по инвалидности') %> >по инвалидности</option>
								<option <%= obj.option_attrs('по старости') %> >по старости</option>
								<option <%= obj.option_attrs('по потере кормильца') %> >по потере кормильца</option>
							</select>
						</div>
						<div class="inp input size1of3">
							<input type="text" class="pfa-input" placeholder="&nbsp;" id="datepicker-date-of-pension-start" value="<%= obj.txt('Период_получения.с') %>" <%= obj.date_attrs() %>
							data-inputmask="
								'alias': 'datetime'"
							></input>
							<span class="input-label">Получение с</span>
						</div>
						<div class="inp input size1of3">
							<input type="text" class="pfa-input" placeholder="&nbsp;" id="datepicker-date-of-pension-end" value="<%= obj.txt('Период_получения.до') %>" <%= obj.date_attrs() %>
							data-inputmask="
								'alias': 'datetime'"
							></input>
							<span class="input-label">Получение до</span>
						</div>
					</div>
				<% obj.end_with() %>
				</div>

				<div <%= obj.with_attrs('Иное') %>>
				<% obj.start_with() %>
					<div class="input-row">
						<div class="inp input size-full">
							<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%=obj.txt('Описание')%> /"></input>
							<span class="input-label">Описание</span>
						</div>
					</div>
				<% obj.end_with() %>
				</div>
			</div>
		</div>
		<div class="pop-up-bg"></div>
		<script  src="./js/custom-select.js"></script>
		<script>$("select.custom-select").change();</script>
	</div>
</div>