﻿<style>
.pfa-styled .finish-pop-up-header {
	padding-top: 57px;
	font-family: TTNorms-Medium;
	font-size: 25px;
	font-weight: 500;
	line-height: 75px;
	display: flex;
	justify-content: center;
}
.pfa-styled .finish-pop-up-text {
	font-family: TTNorms;
	font-size: 20px;
	line-height: 30px;
	display: flex;
	justify-content: center;
}
body > div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-dialog-buttons.ui-draggable.ui-resizable > div.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix{
	display: flex;
    justify-content: center;
}
.pfa-styled.finish-pop-up-window {
	width: 945px !important;
	left: 50% !important;
	margin-left: -472.5px; /* half of the width! */
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset.finish-pop-up-button-holder {
	padding: 0px 6.3% 73px;
}
</style>
<div class="cpw-ama-pfa-finish pfa-styled">
	<div class="pop-up">
		<div class="pop-up-container">
		<div class="finish-pop-up-header">Готово!</div>
		<div class="finish-pop-up-text">Мы начали анализ вашего финансового состояния.</div>
		<div class="finish-pop-up-text">Результат анализа будет отправлен вам на email в ближайшее время.</div>
		<div class="finish-pop-up-text">Спасибо за использование сервиса!</div>
		</div>
	</div>
	<div class="pop-up-bg"></div>
</div>