﻿<style>
div.cpw-ama-pfa-abonent-login > div.login-form
{
	width:400px;
	margin:0 auto;
}
div.cpw-ama-pfa-abonent-login > div.login-form span.title
{
	display:inline-block;
	width:60px;
}
</style>
<div class="cpw-ama-pfa-abonent-login">

	<div class="login-form">
		Вход в кабинет администратора абонента (список анкет)
		<p>
			<span class="title">login:</span>
			<input type="text" class="login" />
		</p>
		<p>
			<span class="title">пароль:</span>
			<input type="password" class="password" />
		</p>
		<button class="login">Войти</button>
	</div>

	<div class="logger-part">
	</div>

</div>
