/*! 
	Здесь определены стили для элементов управления конкретного проекта

	Персональный финансовый анализ

	Тут НЕ должно быть глобальных стилей.
	Тут должны быть стили элементов, расположенных внутри блоков класса

	pfa-styled

*/

@font-face
{
	font-family: "MuseoCyrl";
	src: url("../fonts/MuseoCyrl/MuseoCyrl-500.eot");
	src: url("../fonts/MuseoCyrl/MuseoCyrl-500.eot?#iefix")format("embedded-opentype"),
	url("../fonts/MuseoCyrl/MuseoCyrl-500.woff") format("woff"),
	url("../fonts/MuseoCyrl/MuseoCyrl-500.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face
{
	font-family: "TTNorms";
	src: url("../fonts/TTNorms/TTNorms-Regular.eot");
	src: url("../fonts/TTNorms/TTNorms-Regular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/TTNorms/TTNorms-Regular.woff") format("woff"),
	url("../fonts/TTNorms/TTNorms-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face
{
	font-family: "TTNorms-Medium";
	src: url("../fonts/TTNorms/TTNorms-Medium.eot");
	src: url("../fonts/TTNorms/TTNorms-Medium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/TTNorms/TTNorms-Medium.woff") format("woff"),
	url("../fonts/TTNorms/TTNorms-Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face
{
	font-family: "TTNorms-Bold";
	src: url("../fonts/TTNorms/TTNorms-Bold.eot");
	src: url("../fonts/TTNorms/TTNorms-Bold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/TTNorms/TTNorms-Bold.woff") format("woff"),
	url("../fonts/TTNorms/TTNorms-Bold.ttf") format("truetype");
}

html .pfa-styled * 
{
	font-family: TTNorms, Segoe UI, Arial, Helvetica, sans-serif;
}

/**
Стиль для держателя полей ввода
**/
.pfa-styled .field-row
{
	align-items: center;
	display: flex;
    margin: 0 3px;
    padding-bottom: 24px;
	height: 60px;
}

.pfa-styled .with-space-between
{
	justify-content: space-between;	
}

/**
Стили для полей ввода.
**/
.pfa-styled .inp {
	position: relative;
	display: inline-block;
	width: 33%;
	height: 60px;
	min-width: 200px;
	max-width: 390px;
	box-shadow: inset 0 -2px 0 #A6A6A6,
              inset 1px 1px #DBDBDB,
              inset -1px 0px #DBDBDB;
	border: 0px solid;
	outline: none;
	margin: 0px 17px;
}

.pfa-styled .inp:focus-within, .pfa-styled .inp:hover {
   box-shadow: inset 0 -2px 0 #4FC9F0,
              inset 1px 1px #DBDBDB,
              inset -1px 0px #DBDBDB;
}

.pfa-styled .inp.input.hasErrors{
	box-shadow: inset 0 -2px 0 red, 
				inset 1px 1px #DBDBDB, 
				inset -1px 0px #DBDBDB
}

.pfa-styled .inp .error-message{
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 20px;
    color: red;
    font-size: 12px;
    line-height: 14px;
}

.pfa-styled .inp.size2 {
	width: 67%;
	min-width: 600px;
	max-width: 880px;
}

.pfa-styled .inp.empty{
	box-shadow: none;
}

.pfa-styled .pfa-input {
    background-color: transparent;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
	width: 100%;
    border: 0;
    font-family: inherit;
    font-size: 16px;
	line-height: 60px;
    color: black;
    padding: 10px 0px 0px 20px;
    z-index: 10;
    height: 60px;
	text-rendering: optimizeSpeed;
	box-sizing: border-box;
}

.pfa-styled .input-label{
    font-family: TTNorms;
    position: absolute;
    left: 20px;
    top: 21px;
    font-size: 16px;
    color: rgba(11, 31, 53, 0.4);
    transform-origin: 0 0;
    transform: translate3d(0,0,0);
    transition: all .2s ease;
    pointer-events: none;
	z-index: 0;
    letter-spacing: -0.1px;
}

.pfa-styled .input-label.unchangeable{
    transform-origin: 0 0;
	-webkit-transform: translate3d(0px, -12px, 0) scale(0.75);
          transform: translate3d(0px, -12px, 0) scale(0.75);
    transition: 0s;
}

.pfa-styled .inp .pfa-input:not(:placeholder-shown) + .input-label{
  -webkit-transform: translate3d(0px, -12px, 0) scale(0.75);
          transform: translate3d(0px, -12px, 0) scale(0.75);
}

.pfa-styled .inp .pfa-input:not(:-ms-input-placeholder) + .input-label {
	-webkit-transform: translate3d(0px, -12px, 0) scale(0.75);
    transform: translate3d(0px, -12px, 0) scale(0.75);
}

.pfa-styled .inp .pfa-input:focus + .input-label{
	-webkit-transform: translate3d(0px, -12px, 0) scale(0.75);
	transform: translate3d(0px, -12px, 0) scale(0.75);
}

.pfa-styled .inp .pfa-input:focus + .pfa-styled .inp{
	box-shadow: inset 0 -2px 0 #4FC9F0,
              inset 1px 1px #DBDBDB,
              inset -1px 0px #DBDBDB;
}
.pfa-styled .divider {
	margin-top: 10px;
	margin-bottom: 10px;
}

.pfa-styled td {
	padding-right: 10px;
}

/**
Чекбоксы
**/
.pfa-styled .pfa-input-checkbox {
    display: none;
}

.pfa-styled .pfa-input-checkbox + label {
	display: inline-block;
	width: 20px;
	height: 20px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	text-indent: -999px;
	overflow: hidden;
	cursor: pointer;
	transform: rotate(0deg);
	border: 1px solid #6D7986;
	background: transparent;
}

.pfa-styled .pfa-input-checkbox:checked + label {
	border: 1px solid #4FC9F0;
	background: #4FC9F0;
}

.pfa-styled .pfa-input-checkbox + label:before {
	content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.pfa-styled .pfa-input-checkbox:checked + label:before {
    left: 3px;
    top: 4px;
    width: 8.67px;
    height: 5.33px;
    border-radius: 1px;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.pfa-styled .pfa-label-checkbox-text {
	padding-left: 10px;
	font-weight: normal;
	font-size: 15px;
	line-height: 19px;
	vertical-align: top;
}

/**
Ссылка в тексте
**/
.pfa-styled .in-text-link{
	color: #00C9FF;
	text-decoration: none;
}

/**
Кнопка "добавить" (задолженности)
**/
.pfa-styled .plus-button {
	padding: 0;
	border: 0px;
	background-color: #00caff;
	font-size: 16px;
	height: 24px;
	min-height: 24px;
	width: 24px;
	min-width: 24px;
	border-radius: 999px;
	position: relative;
	margin: 0;
	box-shadow: none;
	background: #00caff;
	margin-right: 12px;
	outline: none;
	vertical-align: middle;
	display: inline;
}
.pfa-styled .plus-button:after, .plus-button:before {
	content: "";
	display: block;
	background-color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.pfa-styled .plus-button:before {
	height: 1.5em;
	width: 0.2em;
}
.pfa-styled .plus-button:after {
	height: 0.2em;
	width: 1.5em;
}

/**
Кнопка "удалить" (задолженности)
**/
.pfa-styled .remove-button {
	padding: 0;
	border: 0px;
	font-size: 12px;
	position: relative;
	outline: none;
	margin-right: 3px;
}
.pfa-styled .remove-button:after, 
.pfa-styled .remove-button:before {
	content: "";
	display: block;
	background-color: #9EA6AE;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
}
.pfa-styled .remove-button:before {
	height: 1.5em;
	width: 0.2em;
}
.pfa-styled .remove-button:after {
	height: 0.2em;
	width: 1.5em;
}

.pfa-styled .button--small {
	font-size: 9.6px;
}

.pfa-styled .button--large {
    font-size: 11px;
    height: 32px;
	min-height: 32px;
    width: 32px;
	min-width: 32px;
}

.pfa-styled .row-add{
	height: 47px;
    display: flex;
    align-items: center;
}

.pfa-styled .add {
    text-decoration: none;
    line-height: 22px;
    align-items: center;
    font-size: 16px;
    color: #122C2E;
    transition: 0.3s;
}

.pfa-styled .add:hover {
	transition: 0.3s;
	color: #4bdcff;
}

.pfa-styled .in-add-black-text {
	display: inline;
}

.pfa-styled .first-add-word{
	color: gray;
}

.pfa-styled .edit{
	text-decoration:none;
	color: inherit;
}

.pfa-styled .flex1{
	flex: 1 1 0px;
}

.pfa-styled .flex2{
	flex: 2 1 0px;
}

.pfa-styled .flex3{
	flex: 3 1 0px;
}

.pfa-styled .flex4{
	flex: 4 1 0px;
}

.pfa-styled .flex5{
	flex: 5 1 0px;
}

.pfa-styled .flex6{
	flex: 6 1 0px;
}

.pfa-styled .flex7{
	flex: 7 1 0px;
}

.pfa-styled .align-right{
	display: block;
	float: right;
	text-align: right;
}

.pfa-styled .align-center{
	text-align: center;
}

.pfa-styled .btn, .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button{
	font-family: TTNorms;
	border: none;
	border-radius: 0px;
	color: black;
	padding: 16px 52px;
	text-align: center;
	font-size: 18px;
	line-height: 24px;
	font-weight: 600;
	margin: 4px 10px;
	box-shadow: inset -1px -1px #122C2E,
	inset 1px 1px #122C2E;
	display: inline-block;
	vertical-align: middle;
	outline: none;
	position: relative;
	transition: 0.5s;
	background: none;
	border-radius: 2px;
}

.pfa-styled a.delete {
	justify-content: center;
    display: flex;
}

.pfa-styled .btn-forward {
	box-shadow: none;
	background-color: #4FC9F0;
	color: white;
}

.pfa-styled .btn-forward:hover {
  background: none;
  background-color: #24BAEA;
  color: white;
}

.pfa-styled .btn-back {
	box-shadow: inset -1px -1px black,
	inset 1px 1px black;
	background: white;
}

.pfa-styled .btn-back:hover,  .ui-dialog-buttonpane .ui-dialog-buttonset button:hover{
    box-shadow: inset -1px -1px #00caff,
    inset 1px 1px #00caff;
}

.btn-back:hover:after, .ui-dialog-buttonpane .ui-dialog-buttonset button:hover:after{
  border-bottom: 10px solid #00caff;
}

.pfa-styled .header1{
	font-size: 16px;
	line-height: 22px;
	margin-top: 54px;
	margin-bottom: 33px;
	font-family: TTNorms;
	color: #122C2E;
}

.pfa-styled .header2, .pfa-styled .header2 span{
	height: 57px;
	font-family: TTNorms-Medium;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.6px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.pfa-styled .header2 a.add{
	font-family: TTNorms;
	font-size: 14px;
	line-height: 22.4px;
	letter-spacing: initial;
	font-weight: initial;
}

.pfa-styled .subheader1{
	padding-top: 4px;
	font-family: TTNorms;
	padding-left: 12px;
	letter-spacing: 0.05px;
}

.pfa-styled .col-divider{
	display: inline;
	margin-left: 122px;
}

.pfa-styled .col-style{
	padding: 0;
	font-family: TTNorms;
}

.pfa-styled .progress {
	background: #EEF1F3;
	justify-content: flex-start;
	border-radius: 2px;
	align-items: center;
	position: relative;
	display: flex;
	height: 10px;
	width: 100%;
	margin-bottom: 8px;
}

.pfa-styled .progress-value {
	box-shadow: 0 10px 40px -10px #fff;
	border-radius: 999px;
	background: #4FC9F0;
	height: 10px;
	width: 20%;
	#transition: 0.3s;
}

.pfa-styled .title {
	font-family: TTNorms;
	margin-left: 5px;
	font-size: 16px;
	line-height: 20px;
	color: #122C2E;
}

/**
Кнопка вернуться на сайт (шапка)
**/
.pfa-styled .to-home-button{
  background-color: #00caff;
  border: none;
  color: white;
  width: 71px;
  height: 71px;
  text-decoration: none;
  display: inline-block;
  border-radius: 50%;
  transition: 0.5s;
  margin-left: 26px;
}

.pfa-styled .to-home-button::before{
  display: inline-block;
  position: absolute;
  content: '';
  font-size: 0px;
  border: 1px solid white;
	border-radius: 50%;
	width: 47px;
	height: 47px;
  margin-top: 11px; margin-left: 11px;
  transition: 0.5s;
}

.pfa-styled .to-home-button:hover::before{
  border: 1px solid #00caff;
}

.pfa-styled .to-home-button:hover::after{
	background-color: #00caff;
    transition: 0.5s;
}

.pfa-styled .to-home-button:hover{
  background-color: black;
}

.pfa-styled .to-home-button:after{
  position: absolute;
  content: "";
  font-size: 0px;
  padding: 4px;
  margin-top: 32px;  margin-left: 32px;
  background-color: white;
  display: inline-block;
  transform: rotate(45deg);
  transition: 0.5s;
}

.pfa-styled .logo img{
    max-width: 100%;
    height: 97%;	
}

.pfa-styled span.steps-counter{
	padding-right: 3px;
	color: #A6A6A6;
	font-family: Segoe UI;
}

.pfa-styled .step-number{
	font-family: Segoe UI;
}

.pfa-styled .buttons{
	display: flex;
}

.pfa-styled .steps-control-buttons{
	margin-top: 60px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

div.table-row
{
	height: 57px;
	transition: 0.3s;
}

div.table-row.wrapper
{
	display: inline-block;
	height: 100%;
}

div.table-row.wrapper:hover
{
	-webkit-transition: 0.3s;
	transition: 0.3s;
	background: #f7feff;
	color: #4bdcff;
}
/**
Табличный разделитель для >1 элемента.
**/
div.table-row.wrapper:nth-child(n+4):before
{	
	z-index: 10;
	height: 100%;
    position: absolute;
    width: 100%;
    content: '';
	box-shadow: inset 0 1px 0 #E7E7E7;
	pointer-events: none;
}

div.table-row.data:hover
{
	-webkit-transition: 0.3s;
	transition: 0.3s;
	color: #4bdcff;
}

.pfa-styled div.align-right-row{
	flex-direction: row;
	justify-content: flex-end;
	align-self: center;
}

.pfa-styled .table-row
{
	position: relative;
	display: flex;
    width:100%;
	color: #122C2E;
}
.pfa-styled .generic-table{
	display: flex;
    flex-direction: column;
	font-size: 14px;
	line-height: 17px;
}
.pfa-styled .table-cell
{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.pfa-styled .generic-table-title .table-cell
{
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.6px;
	font-style: normal;
	font-weight: 600;
}

.pfa-styled div.table-row.total {
	font-style: normal;
	background-color:#ECFAFF;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	z-index: 20;
}

.pfa-styled div.table-cell.first-table-cell {
	padding-left: 3.85%;
}

.pfa-styled div.table-cell.last-table-cell {
	padding-right: 3.85%;
}

.pfa-table-cell-with-total {
	letter-spacing: 0.442px;
}

.pfa-styled .in-header {
	display: flex;
	margin-right: 4px;
}

/**
Стили для select'a
**/
.pfa-styled .select-label.full-scale{
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}

.pfa-styled .select-label{
	font-family: TTNorms;
    position: absolute;
    left: 26px;
    top: 25px;
    font-size: 16px;
    color: #6D7986;
    font-weight: 500;
    transform-origin: 0 0;
	-webkit-transform: translate3d(-7px, -18px, 0) scale(0.75);
          transform: translate3d(-7px, -18px, 0) scale(0.75);
    transition: all .2s ease;
    pointer-events: none;
	z-index: 1;
    letter-spacing: -0.1px;
}
.pfa-styled .center {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/** Custom Select **/
.pfa-styled .custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
  cursor: pointer;
  width: 100%;
}
.pfa-styled .custom-select-wrapper select {
  display: none;
}
.pfa-styled .custom-select {
  position: relative;
  display: inline-block;
  font: 16px "TTNorms";
  width: 100%;
}
.pfa-styled .custom-select-trigger {
  position: relative;
  display: block;
  height: 60px;
  font-weight: 100;
  color: Black;
  font-size: 16px;
  line-height: 70px;
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: inset 0 -2px 0 #A6A6A6,
              inset 1px 1px rgba(0, 0, 0, 0.17),
              inset -1px 0px rgba(0, 0, 0, 0.17);
  padding-left: 19px;
  overflow:hidden;
}

.pfa-styled .custom-select-trigger:after {
	position: absolute;
	display: block;
	content: "";
	width: 10px;
	height: 10px;
	bottom: 18px;
	right: 18px;
	border-bottom: 3px solid #A6A6A6;
	border-right: 3px solid #A6A6A6;
	transition: all 0.35s ease-out;
}
.pfa-styled .custom-select.opened .custom-select-trigger{
	box-shadow: inset 0 -3px 0 #4FC9F0,
              inset 1px 1px rgba(0, 0, 0, 0.17),
              inset -1px 0px rgba(0, 0, 0, 0.17);
}

.pfa-styled .custom-select.opened .custom-select-trigger:after {
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}
.pfa-styled .custom-options {
  position: absolute;
  display: none;
  top: 100%;
  left: 0%;
  right: 0;
  width: 100%;

  margin-top: 8px;
  box-sizing: border-box;

  background: #fff;
  transition: all 0.2s ease-in-out;

  opacity: 0;
  pointer-events: none;
  transform: translateY(-15px);
  border: 0;
  z-index: 10;
  
  overflow-y: scroll;
}
.pfa-styled .custom-select.opened .custom-options {
  opacity: 1;
  display: block;
  pointer-events: all;
  transform: translateY(-8px);
  -webkit-box-shadow: 0px 10px 10px 0px rgba(43, 111, 246, 0.2),
              inset 0 -3px 0 #00C9FF,
              inset 1px 1px rgba(0, 0, 0, 0.17),
              inset -1px 0px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 10px 10px 0px rgba(43, 111, 246, 0.2),
              inset 0 -3px 0 #00C9FF,
              inset 1px 1px rgba(0, 0, 0, 0.17),
              inset -1px 0px rgba(0, 0, 0, 0.17);
  transition: all 0.3s;
}
.pfa-styled .option-hover:before {
  background: #f9f9f9;
  transition: all 0.3s;
}
.pfa-styled .custom-option {
  position: relative;
  display: block;
  padding: 0 22px;
  font: 16px "TTNorms";
  color: black;
  line-height: 47px;
  cursor: pointer;
  transition: all 0.05s ease-in-out;
}

.pfa-styled .custom-option:hover,
.pfa-styled .custom-option.selection {
  color: black;
  background-color: #00C9FF;
  transition: 0.3s;
}
/**
Шапка с логотипом и кнопкой возврата
**/
.pfa-styled div.logos-container > div.return
{
	padding-right: 3px;
    padding-top: 3px;
	float:right;
}
.pfa-styled div.logos-container > div.return > div.text
{
	display: inline-block;
    vertical-align: top;
    padding-top: 6px;
    line-height: 29px;
    font-size: 20px;
    font-family: TTNorms;
    letter-spacing: 0px;
	font-weight: 600;
}
.pfa-styled div.logos-container > div.logo
{
    height: 65px;
}

.pfa-styled div.logos-container {
	margin-bottom: 28px;
    margin-top: 36px;
	margin-left: 22px;
    margin-right: 22px;
}

/**
Поп-апы
**/
.pfa-styled .pop-up .title span{
	font-family: TTNorms;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 0px;
}

.pfa-styled .pop-up .title{
	padding-top: 16px;
    height: 102px;
    line-height: 102px;
}

.pfa-styled .pop-up .subheader, .pfa-styled .pop-up .pledge-row, .pfa-styled .pop-up .other-owners-row{
	font-family: TTNorms;
    font-size: 16px;
    padding: 0px 8px;
    height: 60px;
    line-height: 60px;
}

.pfa-styled .pop-up-bg
{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: rgba(109,217,249,0.4);
}

.pfa-styled .pop-up-container{
	max-width: 1190px;
	margin: 0 auto;
	background: white;
	padding: 16px 6.3%;
}

.pfa-styled .pop-up .input-row, .pfa-styled .input-row{
	display: flex;
	height: 60px;
	flex-direction: row;
	justify-content: center;
	padding: 16px 0px;
}

.pfa-styled .pop-up .input-row.for-checkbox{
	align-items: center;
	justify-content: flex-start;
	padding: 16px;
	height: 45px;
}

.pfa-styled .pop-up div.input{
	display:inline-block;
	position: relative;
	margin: 0 1.2%;
}

.pfa-styled .pop-up div.inp.input{
	display:inline-block;
	position: relative;
	margin: 0 1.2%;
}

.pfa-styled .input.with-checkbox{
	align-self: center;
}

.pfa-styled .input.size1of2{
	flex: 1 1 50%;
	max-width: 597px;
}

.pfa-styled .input.size1of3{
	flex: 1 1 33.3%;
	max-width: 386px;
}

.pfa-styled .input.size1of8{
	flex: 1 1 12.5%;
	max-width: 144.75px;
	min-width: 144.75px;
}

.pfa-styled .input.size2of3{
	flex: 1 1 66.7%;
	max-width: 772px;
}

.pfa-styled .input.size2of3.spacing-right{
	margin-right: 3.6%;
}

.pfa-styled .input.size2of3.spacing-left{
	margin-left: 3.6%;
}

.pfa-styled .input.size-full{
	flex: 1 1 100%;
	max-width: 1230px;
}

.pfa-styled .placeholder{
	visibility: hidden;
}

.ui-corner-all{
	border: none;
}

.ui-dialog .ui-dialog-content {
	padding: 0;
	background: white;
}

.ui-dialog-titlebar {
	display: none;
}
.ui-widget-content {
	border: none;
	background: none;
}

.ui-dialog .ui-dialog-buttonpane {
	width: 100%;
    background: white;
    text-align: left;
    border-width: 0;
    background-image: none;
	margin-top: 0;
	padding: 0;
}

.ui-datepicker
{
	font-family: TTNorms;
    font-size: 18px;
	background: white;
    border: 1px solid rgba(0, 0, 0, 0.17);
}

.ui-datepicker .ui-datepicker-header
{
	background: #EDF3F7;
    color: black;
}

.ui-datepicker .ui-datepicker-month, .ui-datepicker .ui-datepicker-year{
	font-family: MuseoCyrl;
}

.ui-datepicker .ui-state-default{
	border: 1px solid #008BC7;
	background: #F3FAFD;
}

.ui-datepicker .ui-state-highlight{
	background: #1ABADE;
	color: white;
}

.ui-datepicker .ui-state-hover{
	border: 1px solid #008BC7;
	background: #F3FAFD;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{
	padding: 0 6.3% 16px;
}

.ui-dialog {
	width: 98vw !important; 
    max-width: 1429px;
}

.hide-calendar .ui-datepicker-calendar
{
	display:none!important;
	visibility:hidden!important
}

::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    background: transparent;
}
 
::-webkit-scrollbar-thumb {
    background: #4FC9F0;
}

@media (max-width: 992px) {
	.ui-dialog {
		top: 20px !important;
		bottom: 20px;
		overflow-y: auto;
		padding: 0;
		border-radius: unset;
	}
}

@media (max-width: 768px) {
	.pfa-styled div.logos-container > div.return {
		display: none;
	}

	.pfa-styled div.logos-container > div.logo {
		height: 45px;
		text-align: center;
	}

	.pfa-styled .btn, .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button {
		width: 100%;
		padding: 16px 20px;
		margin: 0 0 20px;
	}

	.pfa-styled .pop-up .input-row, .pfa-styled .input-row {
		flex-wrap: wrap;
		height: auto;
		padding: 0;
	}

	.pfa-styled .pop-up div.inp.input, .pfa-styled .inp, .pfa-styled .input {
		margin: 0 0 20px;
		max-width: none;
		width: 100%
	}

	.pfa-styled .pop-up div.input {
		margin: 0 0 20px;
	}

	.pfa-styled .input.size1of2, .pfa-styled .input.size1of3, .pfa-styled .input.size1of8 {
		flex: 1 1 100%;
		max-width: none;
	}

	.pfa-styled .pop-up .title {
		padding: 20px 0 35px;
		height: auto;
		line-height: normal;
	}

	.ui-resizable-handle {
		display: none !important;
	}

	.ui-dialog .ui-dialog-content {
		overflow: visible;
	}

	.pfa-styled .steps-control-buttons > span {
		flex: 1 1 100%;
	}

	.pfa-styled .header2 a.add {
		margin: 20px 0;
		width: 100%;
	}

	.pfa-styled .header2, .pfa-styled .header2 span {
		height: auto;
	}

	.pfa-styled .generic-table-title .table-cell {
		font-size: 12px;
		padding: 0 12px 0 0;
	}

	.pfa-styled div.table-cell.first-table-cell {
		padding-left: 0;
	}

	.pfa-styled .table-cell {
		flex: 1 0 25%;
		padding: 10px 12px 10px 0;
		box-sizing: border-box;
		word-break: break-word;
	}

	.pfa-styled .table-row {
		height: auto;
		min-height: 57px;
	}

	.pfa-styled div.table-cell.last-table-cell {
		padding: 0;
		position: absolute;
		right: -11px;
	}

	div.cpw-ama-pfa-master .steps.pfa-styled {
		padding: 0 0 40px !important;
	}

	.pfa-styled .pop-up .subheader, .pfa-styled .pop-up .pledge-row, .pfa-styled .pop-up .other-owners-row {
		line-height: normal;
	}

	.pfa-styled .placeholder {
		display: none !important;
	}

	.pfa-styled .field-row.with-checkbox {
		text-align: left;
		margin: 0;
		height: auto;
		padding: 0 0 20px;
	}

	.pfa-styled .error-checkbox-flash {
		box-shadow: 0 0 5px rgba(255, 0, 0, .6);
	}

	.pfa-styled.finish-pop-up-window {
		width: 98vw !important;
		left: calc(50% - 49vw);
		margin: 0;
	}

	.pfa-styled .finish-pop-up-text {
		font-size: 14px;
		text-align: center;
		line-height: normal;
		margin-bottom: 15px;
	}

	.pfa-styled .pop-up .subheader, .pfa-styled .pop-up .pledge-row, .pfa-styled .pop-up .other-owners-row {
		height: auto;
		line-height: normal;
		font-size: 18px;
		padding: 0 0 20px;
	}

	.pfa-styled .custom-select-trigger {
		padding: 0 35px 0 19px;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	#pfa-income-add-form, #pfa-income-edit-form, #pfa-property-add-form, #pfa-property-edit-form {
		min-height: auto !important;
		height: auto !important;
	}
}
