﻿<div class="cpw-ama-pfa-probili-company">
<style>
div.cpw-ama-pfa-probili-company
{
	border-bottom: 1px solid gainsboro;
}
.tt-menu.tt-open
{
	background-color: white;
	padding: 3px;
	border:1px solid black;
}
.tt-suggestion
{
	padding: 3px;
}
.tt-suggestion.tt-cursor
{
	background-color: #eeeeee;
}
</style>
	<p>
		<b><%= obj.stitle %><% if (0) { %>ООО Рога и копыта<% } %></b></br>
		<span class="gray-font-string">ИНН:&nbsp;</span>
		<span class="black-font-string"><%= obj.inn %><% if (0) { %>5930856055<% } %></span>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<span class="gray-font-string">ОГРН:&nbsp;</span>
		<span class="black-font-string"><%= obj.ogrn %><% if (0) { %>1147362918780<% } %></span></br>
		<span class="black-font-string"><%= obj.city %><% if (0) { %>г. Ижевск<% } %></span>
	</p>
</div>
