﻿<div class="cpw-ama-pfa-alimony pfa-styled">
	<div class="pop-up">
		<div class="pop-up-container">
		<div class="input-container">
			<div class="pfa-styled title">
					<span>Расходы на алименты</span>
			</div>
			<div class="input-row">
				<div class="inp input size1of3 flat-amount">
					<input class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Выплачивается_ежемесячно.Рублей') %>"
					data-inputmask="
						'alias': 'currency'"
					></input>
					<span class="input-label">Рублей</span>
				</div>
				<div class="inp input size1of3 percentage">
					<input class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Выплачивается_ежемесячно.Процентов_от_дохода') %>"
					data-inputmask="
						'alias': 'percentage'"
					></input>
					<span class="input-label">Процентов от дохода</span>
				</div>
				<div class="inp input size1of3">
					<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Дата_рождения')%>" <%= obj.date_attrs() %>
					data-inputmask="
						'alias': 'datetime'"
					></input>
					<span class="input-label">Дата рождения</span>
				</div>
				<div class="inp input size1of3">
					<span class="select-label full-scale">Порядок оплаты алиментов</span>
					<select class="custom-select sources" placeholder="&nbsp;" value="<%= obj.txt('Порядок_оплаты_алииментов')%>">
						<option <%= obj.option_attrs('Переводит_работодатель') %> >Переводит работодатель</option>
						<option <%= obj.option_attrs('Забирает_пристав_со_счёта_клиента') %> >Забирает пристав со счёта клиента</option>
						<option <%= obj.option_attrs('Платит_сам_клиент') %> >Платит сам клиент</option>
					</select>
				</div>
			</div>
			<div class="subheader">Получатель</div>
			<div class="input-row">
				<div class="inp input size1of3">
					<input class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Фамилия') %>" /></input>
					<span class="input-label">Фамилия</span>
				</div>
				<div class="inp input size1of3">
					<input class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Имя') %>" /></input>
					<span class="input-label">Имя</span>
				</div>
				<div class="inp input size1of3">
					<input class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Отчество') %>" /></input>
					<span class="input-label">Отчество</span>
				</div>
			</div>
			<div class="input-row">
				<div class= "input size1of3">
					<input type="radio" class="pfa-input-checkbox" id="pfa-fixed-amount-radio" <%= obj.radio_attrs('Выплачивается_фиксированная_сумма', 'true') %>checked> </input>
					<label for="pfa-fixed-amount-radio"></label>
					<span class="pfa-label-checkbox-text"> Фиксированная сумма</span>
				</div>
				<div class= "input size1of3">
					<input type="radio" class="pfa-input-checkbox" id="pfa-percentage-radio" <%= obj.radio_attrs('Выплачивается_фиксированная_сумма', 'false') %>></input>
					<label for="pfa-percentage-radio"></label>
					<span class="pfa-label-checkbox-text">Процент от дохода</span>
				</div>
				<div class= "input size1of3 placeholder"></div>
			</div>
			<div class="pop-up-bg"></div>
			<script  src="./js/custom-select.js"></script>
			<script>$("select.custom-select").change();</script>	
		</div>
		</div>
	</div>
</div>