﻿<style>
.pfa-styled .summary{
	box-shadow: inset -2px 0px rgba(0, 0, 0, 0.17);
}
.pfa-styled.cpw-ama-pfa-main{
	max-width: 1290px;
	margin: 0px auto;
	padding: 0 20px;
	padding-top: 12px;
}
.pfa-styled .main-container{
	display: flex;
    height: 76vh;
    flex-direction: column;
}
.pfa-styled .table-container{
	display: flex;
	flex:1;
}
.pfa-styled .counters-container{
	display: flex;
	flex: 1;
	font-family: "MuseoCyrl";
	font-size: 15px;
}
.pfa-styled .graphs-container{
	flex: 4;
	display: flex;
	flex-direction: column;
}
.pfa-styled .graph-container{
	flex: 4;
	display: flex;
	flex-direction: column;
}
.pfa-styled .table-container .graph-resolution-container{
	flex: 4;
	display: flex;
	flex-direction: column;
	font-size: 15px;
}
.pfa-styled .graph-resolution-container .graph-container{
	flex: 2;
}
.pfa-styled .graph-resolution-container .resolution-container{
	flex: 1;
	background-color: #E6F3F9;
	padding: 0px 32px;
	overflow: hidden;
	line-height: 8px;
}
.pfa-styled .resolution-header{
	align-items: center;
    display: flex;
    color: red;
    height: 50px;
}
.pfa-styled .counter-header{
	align-items: center;
    display: flex;
    height: 53px;
    font-size: 17px;
    padding-top: 12px;
}
.pfa-styled .counter-line{
	height: 40px;
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding-right: 10px;
}
.pfa-styled.cpw-ama-pfa-main div.after-header div.persona
{
	float:right;
}
.pfa-styled .top-block{
	flex: 2;
	box-shadow: inset 0px -2px rgba(0, 0, 0, 0.17);
}
.pfa-styled .bottom-block{
	flex: 5;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}
.pfa-styled .amount{
	justify-self:flex-end;
	color: gray;
}

.pfa-styled .amount.red{
	color: #E83F41;
}
.pfa-styled .graph-wrapper{
	width: 100%;
	height: 100%
}

.pfa-styled .after-header{
	padding-bottom: 14px;
}

.pfa-styled .after-header .title{
	font-size: 35px;
	font-family: TTNorms-Bold;
	letter-spacing: 0.4px;
}

.pfa-styled .top-block .current-status, .pfa-styled .bottom-block .average-income, .pfa-styled .bottom-block .average-expenses{
	padding-right: 20px;
	margin-bottom: 10px;
}

.pfa-styled .current-status{
	padding-bottom: 20px;
}

.pfa-styled div.summary{
	margin-top: 50px;
}
.pfa-styled .logos-container .logo a{
    display: block;
    height: 65px;
    width: 219px;
    z-index: 1;
    cursor: pointer;
}
</style>
<%
	var debtor= obj.value();
	if (!debtor || null==debtor)
		debtor= {};
%>
<div class="pfa-styled">
    <div class="header">
        <div class="logos-container">
		<div onclick="location.href='https://restart.expert'" class="return" style="cursor:pointer">
			<div class="text">Вернуться<br/> на сайт</div>
			<div class="to-home-button"></div>
		</div>
		<div class="logo">
                    <a href="https://restart.expert">
                        <object type="image/svg+xml" data="img/restart_logo.svg" height="65" style="pointer-events: none">
                                Your browser does not support SVG
                        </object>
                    </a>
                </div>
        </div>
    </div>
</div>
<div class="cpw-ama-pfa-main pfa-styled">
	<div class="main-container">
		<div class="after-header">
			<span class="title">Личный финансовый учёт</span> 
		</div>
		<div class="table-container">
			<div class="counters-container">
				<div class="summary">
			</div>
				<div class="graph-resolution-container">
					<div class="graph-container">
						<div class="graph-wrapper"><div class="graphs"></div></div>
					</div>
					<div class="resolution-container">
						<div class="resolution-header">Вывод:</div>
						<div class="resolution"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>