﻿<style>
div.cpw-ama-pfa-alimony-collection
{
	display:inline;
}
div.cpw-ama-pfa-alimonies-collection
{
	max-width: 1280px;
	margin: 0px auto;
	display: flex;
	flex-direction: column;
}
#pfa-alimony-add-form, #pfa-alimony-edit-form {
	height: auto !important;
	min-height: 280px !important;
}
</style>
<% var readonly= obj && obj.options && obj.options.readonly; 
var money= function(n)
{
	if (!n || null==n)
	{
		return '-';
	}
	else
	{
		return obj.options.h_number_format(n, 0, ' ,', ' ');
	}
}
%>
<div class="cpw-ama-pfa-alimonies-collection pfa-styled">
	<div class="header2" data-show-if-mode="master">Выплачиваемые алименты
		<div class="in-header">
			<% if (!readonly) { %><a href="#null" class="add"><button class="plus-button button--small"></button>Добавить данные</a>	<% } %>
		</div>
	</div>

	<div <%= obj.empty_attrs() %> >
		<% if (0) { %>Фрагмент для пустой коллекции<% } %>
		<%if (!readonly) { %>
			<a href="#null" class="add" data-show-if-mode="details">
				<button class="plus-button button--small"><% if (0) { %>указать выплачиваемые алименты<% } %></button>
				Указать выплачиваемые алименты
			</a>
		<% } %>
	</div>

	<div <%= obj.not_empty_attrs() %> >
		<%if (!readonly) { %>
			<a href="#null" class="add" data-show-if-mode="details">
				<button class="plus-button button--small"><% if (0) { %>указать выплачиваемые алименты<% } %></button>
				Указать выплачиваемые алименты
			</a>
		<% } %>
		<div class="generic-table">
			<div class="table-row generic-table-title">
				<div class="table-cell flex4 first-table-cell">ФИО</div>
				<div class="table-cell flex2 align-right">Дата рождения</div>
				<div class="table-cell flex2 align-right">Расходы (₽/мес)</div>
				<div class="table-cell flex4 align-right-row last-table-cell"></div>
			</div>

			<% while (obj.iterate()) { %>
			<div class="table-row wrapper"  <%= obj.item_attrs() %>>
				<div class="table-row data alimony">
					<div class="table-cell flex4 first-table-cell"><a href="#null" class="edit">
						<%= obj.txt_field('Фамилия') %> 
						<%= obj.txt_field('Имя') %> 
						<%= obj.txt_field('Отчество') %></a>
					</div>
					<div class="table-cell flex2 align-right"><%= obj.txt_field('Дата_рождения')%> <% if (0) { %>2003 г. рождения<% } %></div>
					<div class="table-cell flex2 align-right"><%= obj.txt_field('Выплачивается_ежемесячно.Рублей', money) %> <% if (0) { %>7 000<% } %></div>
					<div class="table-cell flex4 align-right-row last-table-cell"><% if (!readonly) { %><a href="#null" class="delete"><button class="remove-button"></button></a><% } %></div>
				</div>
			</div>
			<% } %>
		</div>
	</div>
</div>