﻿<style>
.pfa-styled.cpw-ama-pfa-graph{
	width: 100vw;
	height: 43vh;
	max-width: 1020px;
}
.pfa-styled.cpw-ama-pfa-graph .graph-container{
	display: flex;
	flex-direction: row;
	height: 100%
}

.pfa-styled.cpw-ama-pfa-graph .graph-rows{
	display: flex;
	flex-direction: column;
}


.pfa-styled .time-row{
	flex: 1;
	display: flex;
	flex-direction: column;
	z-index:10;
}
.pfa-styled.cpw-ama-pfa-graph .money-row{
	box-shadow: inset 0px 1px rgba(0, 0, 0, 0.17),
				inset 0px -1px rgba(0, 0, 0, 0.17);
	flex: 2;
	display: flex;
	flex-direction: column;
}
.pfa-styled.cpw-ama-pfa-graph .bars-row{
	flex: 8;
	display: flex;
	flex-direction: column;
}
.pfa-styled.cpw-ama-pfa-graph .on-hands-bar-row, .debt-bar-row, .debt-row, .on-hands-row, .years-row, .months-row{
	flex: 1;
	display: flex;
	flex-direction: row;
}
.pfa-styled.cpw-ama-pfa-graph .cell{
	flex: 1;
	display: flex;
}
.pfa-styled .top .cell{
	align-items: flex-end;
}
.pfa-styled .bottom .cell {
	align-items: flex-start;
}

.pfa-styled .middle .cell {
	align-items: center;
}
.pfa-styled div.graph-container div.value, .pfa-styled div.graph-container div.value span, 
.pfa-styled div.debt.value, .pfa-styled div.on-hands.value{
	color: gray;
	font-family: "TTNorms";
	font-size: 12px;
	white-space: break-spaces;
}
.pfa-styled .bar {
	margin: 0px 33%;
	flex: 1;
}

.pfa-styled .bar.debt{
	background-color: #098AC4;
}

.pfa-styled .bar.on-hands{
	background-color: #CEE7F3;
}

.pfa-styled .bar.on-hands.red{
	background-color: #E83F41;
}

.pfa-styled .graph-container .graph-info-block{
	flex: 1;
	display: flex;
	flex-direction: column;
}
.pfa-styled .graph-container .graph-rows{
	flex: 8;
}

.pfa-styled.cpw-ama-pfa-graph .no-shadow{
	box-shadow: none;
}

.pfa-styled .in-info-block{
	justify-content:flex-end;
	margin-right: 10px;
	text-align:right;
}

.pfa-styled .in-info-block.money{
	font-size: 14px;
	font-weight: bold;
}
</style>

<%
var r= obj.value();
if (!r || null==r)
	r= [];
if (r.length>12)
	r= r.slice(0,12);
var max_денег= 0;
var max_долгов= 0;
for (var i= 0; i < r.length; i++)
{
	if (r[i].денег > max_денег)
		max_денег= r[i].денег;
	if (r[i].долгов > max_долгов)
		max_долгов= r[i].долгов;
}
var money= function(n)
{
	if (!n || null==n)
	{
		return '0 ₽';
	}
	else
	{
		return obj.options.h_number_format(n, 0, ' ,', ' ')+'₽';
	}
}
%>
<div class="cpw-ama-pfa-graph pfa-styled">
	<div class="graph-container">
		<div class="graph-info-block">
			<div class="bars-row">
				<div class="in-info-block money"><%= money(max_денег) %><% if (0) { %>100 000<% } %></div>
				<div class="in-info-block value"><span>На руках</span></div>
				<div class="on-hands-bar-row top"></div>
				<div class="in-info-block money">0 ₽</div>
				<div class="debt-bar-row bottom no-shadow"></div>
				<div class="in-info-block value"><span>Долг</span></div>
				<div class="in-info-block money"><%= money(max_долгов) %><% if (0) { %>3 000 000<% } %></div>
			</div>
			<div class="money-row no-shadow">
				<div class="on-hands-row middle"><div class="cell in-info-block no-shadow"><div class="value"><span>На руках</span></div></div></div>
				<div class="on-hands-row middle"><div class="cell in-info-block no-shadow"><div class="value"><span>Долг</span></div></div></div>
			</div>
			
			<div class="time-row no-shadow"></div>
		</div>
		<div class="graph-rows">
			<div class="bars-row">
				<div class="on-hands-bar-row top">
						<%	for (var i= 0; i < r.length; i++) 
							{ 
								var rr= r[i];
								var денег= !rr.денег ? 0 : rr.денег;
						%>
						<div class="cell">
							<div class="bar on-hands<%= rr.месяц_банкротства  ? ' red' : '' %>" style="height: <%= 0==max_денег ? 0 : Math.round((100*денег)/max_денег) + '%' %>;"></div>
						</div>
						<%	} %>
				</div>
				<div class="debt-bar-row bottom">
					<%	for (var i= 0; i < r.length; i++) 
						{ 
							var rr= r[i];
							var долгов= !rr.долгов ? 0 : rr.долгов;
					%>
						<div class="cell">
							<div class="bar debt" style="height: <%= 0==max_долгов ? 0 : Math.round((100*долгов)/max_долгов) + '%' %>;"></div>
						</div>
					<%	} %>
				</div>
			</div>
			<div class="money-row">
				<div class="on-hands-row middle">
					<%	for (var i= 0; i < r.length; i++) { %><div class="cell"><div class="on-hands value"><%= money(r[i].денег) %><% if (0) { %>100 000<% } %></div></div><%	} %>
				</div>
				<div class="debt-row middle">
					<%	for (var i= 0; i < r.length; i++) { %><div class="cell"><div class="debt value"><%= money(r[i].долгов) %><% if (0) { %>3 000 000<% } %></div></div><%	} %>
				</div>
			</div>
			<div class="time-row">
				<div class="years-row top">
					<%	for (var i= 0; i < r.length; i++) { %><div class="cell"><div class="year value"><%= r[i].год %><% if (0) { %>2020<% } %></div></div><%	} %>
				</div>
				<div class="months-row bottom">
					<%	for (var i= 0; i < r.length; i++) { %><div class="cell"><div class="month value"><%= r[i].месяц %><% if (0) { %>май<% } %></div></div><%	} %>
				</div>
			</div>
		</div>	
	</div>
</div>
