﻿<style>
div.cpw-ama-pfa-payments td.money
{
	text-align:right;
}
div.cpw-ama-pfa-payments tr.header td
{
	border-bottom: 1px solid black;
}
div.cpw-ama-pfa-payments tr.footer td
{
	border-top: 1px solid black;
}
div.cpw-ama-pfa-payments td{
	padding: 0px 3px;
}
</style>
<%
var платежи= obj.value();
var Сумма_всех_выплат = 0;
var сумма_задолженности = платежи[0].Сумма_задолженности;
for (var i= 0; i< платежи.length; i++)
{
	var платёж= платежи[i];
	if (сумма_задолженности >= 1){сумма_задолженности = (сумма_задолженности - платёж.Ежемесячный_платеж).toFixed(2)};
	if (сумма_задолженности < 1){платёж.Ежемесячный_платеж = parseFloat(платёж.Ежемесячный_платеж) + parseFloat(сумма_задолженности); сумма_задолженности = 0};
	платежи[i].Сумма_задолженности = сумма_задолженности;
	Сумма_всех_выплат = (parseFloat(Сумма_всех_выплат) + parseFloat(платёж.сумма_задолженности)).toFixed(2);
};
var денежная_сумма= obj.options.денежная_сумма;
%>
<div class="cpw-ama-pfa-payments">

	Всего выплат на сумму: <%= Сумма_всех_выплат%><% if (0) { %>1 054 990.65<% } %><br/>

	<table>
		<tr class="header">
			<td class="date">Дата</td>
			<td class="money">Платеж</td>
			<td class="money">Остаток</td>
		</tr>
		<%
			for (var i= 0; i< платежи.length; i++)
			{
				var платёж= платежи[i];
		%>
		<tr class="payment">
			<td class="date"><%= платёж.Месяц %><% if (0) { %>26.06.2020<% } %></td>
			<td class="money"><%= платёж.Ежемесячный_платеж %><% if (0) { %>87 915.89<% } %></td>
			<td class="money"><%= платёж.Сумма_задолженности%><% if (0) { %>920 417.44<% } %></td>
		</tr>
		<%
			} %>
		<tr class="footer">
			<td class="date">Всего выплат</td>
			<td class="money"><%= Сумма_всех_выплат %><% if (0) { %>1 054 990.65<% } %></td>
		</tr>
	</table>
</div>