﻿<h1>Аналитическое заключение</h1>

<%

var d= obj.анкета;
if (!d || null==d)
	d= {};
var перс_данные= d.Персональные_данные;
if (!перс_данные || null==перс_данные)
	перс_данные= {};

var Время_заполнения= d.Время_заполнения;
%>

<h2>Установочные данные</h2>
<p>
	ФИО анализируемого лица: 
	<b><%= перс_данные.Фамилия %><% if (0) { %>Иванов<% } %> 
	<%= перс_данные.Имя %><% if (0) { %>Иван<% } %> 
	<%= перс_данные.Отчество %><% if (0) { %>Иванович<% } %></b>. 
	Дата анализа: 
	<b><%= Время_заполнения %><% if (0) { %>01.01.2001<% } %></b>
</p>

<h2>Исходные данные</h2>
<%
var долги= d.Долги;
if (долги && null!=долги && 0!=долги.length) {
%>

<h3>Долги</h3>
<ol>
	<%	for (var i= 0; i < долги.length; i++) 
		{
			var долг= долги[i];
	%>
	<li>
		<%= долг.Сумма_задолженности %><% if (0) { %>10 000<% } %> руб.
	</li>
	<%	} %>
</ol>

<% } /* долги */%>

<h2>Анализ</h2>

<h2>Выводы и рекомендации</h2>
