﻿<%
var r= obj.value();
if (!r || null==r)
	r= {};

var известного_месяца= 
{
	'янв':'январю',
	'фев':'февралю',
	'мар':'марту',
	'апр':'апрелю',
	'май':'маю',
	'июн':'июню',
	'июл':'июлю',
	'авг':'августу',
	'сен':'сентябрю',
	'окт':'октябрю',
	'ноя':'ноябрю',
	'дек':'декабрю'
};

var месяца= function(месяц)
{
	var res= известного_месяца[месяц];
	if (!res || null==res)
		res= 'концу';
	return res;
};
%>
<div class="cpw-ama-pfa-resolution">

	<%	if ('критическое'==r.состояние)
		{ 
			var момент_истины= r.время_непсособности_платить;
			if (!момент_истины || null==момент_истины)
				момент_истины= {};
	%>

		<p>Текущее финансовое состояние критическое.</p>
		<p>
			При сохранении текущей динамики доходов и расходов к 
			<%= месяца(момент_истины.месяц) %> <%= момент_истины.год %> 
			года нечем будет платить по долгам.
		</p>

	<% } else if ('неустойчивое'==r.состояние) { %>

		<p>Текущее финансовое состояние неустойчивое.</p>
		<p>Вы тратите больше чем зарабатываете.</p>

	<% } else if ('стабильное'==r.состояние) { %>

		<p>Поздравляем! Ваше финансовое состояние стабильно.</p>

	<% } else if (!r.состояние || 'неопределённое'==r.состояние) { %>

		<p>Определённо охарактеризовать Ваше финансовое состояние не удаётся.</p>

	<% } %>

	<%	if (r.рекомендации && null!=r.рекомендации && r.рекомендации.length) { %>

		<p>
			Рекомендуем вам предпринять следующие действия:
			<ul>
			<% for (var i= 0; i< r.рекомендации.length; i++) { %>
				<li><%= r.рекомендации[i] %></li>
			<% } %>
			</ul>
		</p>

	<%	} %>

	<% if ('критическое'==r.состояние) { %>

		<p>Настойтельно рекомендуем рассмотреть процедуру банкротства.</p>

	<% } %>

</div>
