﻿<style>
div.cpw-ama-pfa-income-collection div.col
{
	flex-grow: 1;
}

div.cpw-ama-pfa-income-collection div.buttons {
		display: inline-block;
}

@media (min-width: 715px) {
    div.cpw-ama-pfa-income-collection div.buttons {
		display: flex;
	}
}
@media (min-width: 769px) {
	#pfa-income-add-form, #pfa-income-edit-form {
		height: auto !important;
		min-height: 443px !important;
	}
}
</style>
<% 
var income_variants= 
{
	column1:
	[
		{txt:'заработную плату', type:'Заработная_плата'}
		,{txt:'пенсию', type:'Пенсия'}
		,{txt:'получаемые алименты', type:'Алименты'}
		,{txt:'иной доход', type:'Иное'}
	]
	,column2:
	[
		{txt:'доход от ИП', type:'Деятельность_ИП'}
		,{txt:'доход от подработок', type:'Подработка_по_гражданскому_договору'}
		,{txt:'пособие или выплаты', type:'Пособие_и_подобные_выплаты'}
		,{txt:'выплачиваемые алименты', type:'Алименты'}
	]
};

var readonly= obj && obj.options && obj.options.readonly; 
var money= function(n)
{
	if (!n || null==n)
	{
		return '-';
	}
	else
	{
		return obj.options.h_number_format(n, 0, ' ,', ' ');
	}
}
%>
<div class="cpw-ama-pfa-income-collection pfa-styled">
	<div <%= obj.empty_attrs() %> >
	<% if (!readonly) { %>
		<% if (0) { %>Фрагмент для пустой коллекции<% } %>
		<a href="#null" class="add" data-show-if-mode="details">
			<button class="plus-button button--small"><% if (0) { %>указать доход<% } %></button>
			<text>Указать доход</text>
		</a>
		<div class="buttons" data-show-if-mode="master">
			<div class="col">
				<%	for (var i= 0; i < income_variants.column1.length; i++) 
					{
						var spec= income_variants.column1[i];
				%>
				<div class="row-add">
					<a href="#null" class="add" data-income-type="<%= spec.type %>">
						<button class="plus-button button--small"><% if (0) { %>указать доход<% } %></button>
						<div class="in-add-black-text creditor"><span class="first-add-word">Описать </span><span><%= spec.txt %><% if (0) { %>заработную плату<% } %></span></div>
					</a>
				</div>
				<%	} %>
			</div>
		
			<div class="col">
				<%	for (var i= 0; i < income_variants.column2.length; i++) 
					{
						var spec= income_variants.column2[i];
				%>
				<div class="row-add">
					<a href="#null" class="add" data-income-type="<%= spec.type %>">
						<button class="plus-button button--small"><% if (0) { %>указать доход<% } %></button>
						<div class="in-add-black-text creditor"><span class="first-add-word">Описать </span><span><%= spec.txt %><% if (0) { %>пенсию<% } %></span></div>
					</a>
				</div>
				<%	} %>
			</div>
		</div>
	<% } %>
</div>
	
	


	<div <%= obj.not_empty_attrs() %> >
		<div class="header2" data-show-if-mode="master">Текущие ежемесячные доходы
			<a href="#null" class="add">
				<button class="plus-button button--small"><% if (0) { %>указать доход<% } %></button>
				<text>Указать доход</text>
			</a>
		</div>
		
		<a href="#null" class="add" data-show-if-mode="details">
			<button class="plus-button button--small"><% if (0) { %>указать задолженность<% } %></button>
			<text>Указать доход</text>
		</a>
		
		<div class="generic-table">
			<div class="table-row generic-table-title">
				<div class="table-cell flex3 first-table-cell">Вид дохода</div>
				<div class="table-cell flex2 align-right">На сумму(₽)</div>
				<div class="table-cell flex7 align-right-row last-table-cell"></div>
			</div>

			<% while (obj.iterate()) { %>
			<div class="table-row wrapper"  <%= obj.item_attrs() %> >
				<div class="table-row data income">
					<div class="table-cell flex3 first-table-cell"><span class="edit"><%= obj.txt_field('Тип',obj.options.h_income_type.txt_for_value) %><% if (0) { %>пенсия<% } %></span></div>
					<div class="table-cell flex2 align-right"><a href="#null" class="edit align-right"><%= obj.txt_field('Среднемесячный_размер', money)%><% if (0) { %>12 000 <% } %></a></div>
					<div class="table-cell flex7 align-right-row last-table-cell"><a href="#null" class="delete"><button class="remove-button"></button></a></div>
				</div>
			</div>
			<% } %>
				
			<div class="table-row total">
				<div class="table-cell flex3 first-table-cell">ИТОГО</div>
				<div class="table-cell flex2 align-right money"><span class="sum"></span></div>
				<div class="table-cell flex7 align-right-row last-table-cell"></div>
			</div>
		</div>
	
	</div>
</div>