﻿<style>
div.cpw-ama-pfa-step5-person
{
	max-width: 1280px;
	margin: 0px auto;
	display: flex;
	flex-direction: column;
}
@media (max-width: 825px) {
    .cpw-ama-pfa-step5-person .field-row {
		text-align: center;
		margin: 0 auto;
		display: block;
	}
	.cpw-ama-pfa-step5-person .field-row.with-space-between .inp {
		width: 100%;
		margin: 8px;
		min-width: 300px;
	}
}

.pfa-styled .field-row.with-checkbox{
	height: 20px;
	padding: 12px 0px;
	margin: 0px 17px;
}

.pfa-styled .error-checkbox-flash{
    box-shadow: 3px 3px red, 0px 0px 3px 3px red;
}
</style>

<div class="cpw-ama-pfa-step5-person pfa-styled">
	<div class="input-row" id="personal-data-fields">
		<div class="inp input size1of3">
			<input class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Фамилия') %>" /></input>
			<span class="input-label">Фамилия</span>
		</div>
		<div class="inp input size1of3">
			<input class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Имя') %>" /></input>
			<span class="input-label">Имя</span>
		</div>
		<div class="inp input size1of3">
			<input class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Отчество') %>" /></input>
			<span class="input-label">Отчество</span>
		</div>
	</div>

	<div class="input-row">
		<div class="inp input size1of3">
			<input class="pfa-input" id="pfa-step5-input-phone" placeholder="&nbsp;" value="<%= obj.txt('Телефон') %>"
				data-inputmask="
					'alias': 'phone'"
			></input>
			<span class="input-label">Телефон</span>
			<span class="error-message" id="pfa-step5-error-phone"></span>
		</div>
		<div class="inp input size1of3">
			<input class="pfa-input" id="pfa-step5-input-email" placeholder="&nbsp;" value="<%= obj.txt('Email') %>"
				data-inputmask="
					'alias': 'emails'"
			></input>
			<span class="input-label">Электронная почта</span>
			<span class="error-message" id="pfa-step5-error-email"></span>
		</div>
		<div class="inp input size1of3 placeholder">

		</div>
	</div>

	<div class="field-row with-checkbox">
			<input type="checkbox" class= "pfa-input-checkbox" id="pfa-anonymous-checkbox"></input>
			<label for="pfa-anonymous-checkbox"></label>
			<span class="pfa-label-checkbox-text">Остаться анонимным</span>
	</div>
	<div class="field-row with-checkbox">
			<input type="checkbox" class= "pfa-input-checkbox" id="pfa-agree-checkbox"></input>
			<label for="pfa-agree-checkbox"></label>
			<span class="pfa-label-checkbox-text">Я согласен на обработку персональных данных согласно <a href="#null" class="in-text-link">политике конфиденциальности</a></span>
	</div>
</div>