﻿<div class="cpw-ama-pfa-coowner pfa-styled">
	<div class="pop-up">
		<div class="pop-up-container">
			<div class="header2">Данные об ином собственнике части имущества</div>
			<div class="input-container">
				<div class="input-row">
					<div class="inp input size1of2">
						<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Наименование')%> /"></input>
						<span class="input-label">Наименование</span>
					</div>
					<div class="inp input size1of2">
						<input type="text" class="pfa-input" placeholder="&nbsp;" value="<%= obj.txt('Доля')%> /"></input>
						<span class="input-label">Доля</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>