﻿<style>
div.cpw-ama-pfa-expense-collection
{
	display:inline;
}
#pfa-expense-add-form, #pfa-expense-edit-form {
	height: auto !important;
	min-height: 280px !important;
}
</style>
<% var readonly= obj && obj.options && obj.options.readonly; 
var money= function(n)
{
	if (!n || null==n)
	{
		return '-';
	}
	else
	{
		return obj.options.h_number_format(n, 0, ' ,', ' ');
	}
}
%>
<div class="cpw-ama-pfa-expense-collection pfa-styled">
	<div class="header2" data-show-if-mode="master">Собственно расходы
		<div class="in-header">
				<% if (!readonly) { %><a href="#null" class="add"><button class="plus-button button--small"></button>Добавить данные</a>	<% } %>
		</div>
	</div>


	<div <%= obj.empty_attrs() %> >
		<% if (0) { %>Фрагмент для пустой коллекции<% } %>
		<%if (!readonly) { %>
			<a href="#null" class="add" data-show-if-mode="details">
				<button class="plus-button button--small"><% if (0) { %>указать расход<% } %></button>
				Указать расход
			</a>
		<% } %>
	</div>

	<div <%= obj.not_empty_attrs() %> >
		<%if (!readonly) { %>
			<a href="#null" class="add" data-show-if-mode="details">
				<button class="plus-button button--small"><% if (0) { %>указать расход<% } %></button>
				Указать расход
			</a>
		<% } %>
		<div class="generic-table">
			<div class="table-row generic-table-title">
				<div class="table-cell flex6 first-table-cell">Назначение</div>
				<div class="table-cell flex2 align-right">Расходы (₽/мес)</div>
				<div class="table-cell flex4 align-right-row last-table-cell"></div>
			</div>

			<% while (obj.iterate()) { %>
			<div class="table-row wrapper"  <%= obj.item_attrs() %> >
				<div class="table-row data expense">
					<div class="table-cell flex6 first-table-cell"><a href="#null" class="edit"><%= obj.txt_field('Назначение') %> <% if (0) { %>на курево.<% } %></a></div>
					<div class="table-cell flex2 align-right"><%= obj.txt_field('Сумма', money) %> <% if (0) { %>7000<% } %></div>
					<div class="table-cell flex4 align-right-row last-table-cell"><% if (!readonly) { %><a href="#null" class="delete"><button class="remove-button"></button></a><% } %></div>
				</div>
			</div>
			<% } %>
		</div>
	</div>
</div>